[mysqld]
connect-timeout=60
log-bin-trust-function-creators=1
innodb-buffer-pool-size=24M
innodb-log-file-size=5M
loose-enable-performance-schema
loose-performance-schema-accounts-size=100
loose-performance-schema-digests-size=200
loose-performance-schema-hosts-size=100
loose-performance-schema-users-size=100
loose-performance-schema-setup-actors-size=100
loose-performance-schema-setup-objects-size=100
loose-performance-schema-events-waits-history-size=10
loose-performance-schema-events-waits-history-long-size=10000
loose-performance-schema-events-stages-history-size=10
loose-performance-schema-events-stages-history-long-size=1000
loose-performance-schema-events-statements-history-size=10
loose-performance-schema-events-statements-history-long-size=1000
loose-performance-schema-events-transactions-history-size=10
loose-performance-schema-events-transactions-history-long-size=1000
loose-performance-schema-session-connect-attrs-size=2048
loose-performance-schema-instrument='%=ON'
loose-performance-schema-consumer-events-stages-current=ON
loose-performance-schema-consumer-events-stages-history=ON
loose-performance-schema-consumer-events-stages-history-long=ON
loose-performance-schema-consumer-events-statements-current=ON
loose-performance-schema-consumer-events-statements-history=ON
loose-performance-schema-consumer-events-statements-history-long=ON
loose-performance-schema-consumer-events-transactions-current=ON
loose-performance-schema-consumer-events-transactions-history=ON
loose-performance-schema-consumer-events-transactions-history-long=ON
loose-performance-schema-consumer-events-waits-current=ON
loose-performance-schema-consumer-events-waits-history=ON
loose-performance-schema-consumer-events-waits-history-long=ON
loose-performance-schema-consumer-global-instrumentation=ON
loose-performance-schema-consumer-thread-instrumentation=ON
log-error-verbosity=3
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
ndb-join-pushdown=1
local-infile=true

[cluster_config]
MaxNoOfSavedMessages=1000
MaxNoOfConcurrentTransactions=2048
MaxNoOfConcurrentOperations=10000
MaxNoOfConcurrentScans=64
BatchSizePerLocalScan=64
DataMemory=30M
Diskless=0
TimeBetweenWatchDogCheck=30000
MaxNoOfOrderedIndexes=128
MaxNoOfAttributes=2048
TimeBetweenGlobalCheckpoints=3000
TimeBetweenEpochs=100
NoOfFragmentLogFiles=4
FragmentLogFileSize=12M
DiskPageBufferMemory=4M
SharedGlobalMemory=20M
LongMessageBuffer=4M
RedoBuffer=4M
BackupDataBufferSize=2M
BackupLogBufferSize=2M
BackupMemory=4M
TwoPassInitialNodeRestartCopy=1
TransactionDeadlockDetectionTimeout=3000
Checksum=1
CompressedLCP=1
CompressedBackup=1
InitialNoOfOpenFiles=27
HeartbeatIntervalDbDb=30000
HeartbeatIntervalDbApi=30000
DiskIOThreadPool=1
ThreadConfig=main={count=1},tc={count=3},ldm={count=4},io={count=1},rep={count=1},recv={count=2},send={count=2}

[ENV]
MTR_NDBMTD=1
NDB_CONNECTSTRING=localhost:13000
MASTER_MYSOCK=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.1.1.sock
MASTER_MYPORT=13001
MASTER_MYPORT1=13002
NDB_BACKUP_DIR=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/

[cluster_config.1]
ndbd=localhost,localhost
ndb_mgmd=localhost
mysqld=localhost,localhost
ndbapi=localhost,localhost,localhost,localhost,localhost,localhost,localhost,localhost,localhost,localhost,localhost,localhost
DefaultOperationRedoProblemAction=queue

[cluster_config.mysqld.1.1]
NodeId=49
HostName=localhost

[cluster_config.mysqld.2.1]
NodeId=16
HostName=localhost

[cluster_config.ndbapi.1.1]
NodeId=32
HostName=localhost

[cluster_config.ndbapi.2.1]
NodeId=48
HostName=localhost

[cluster_config.ndbapi.3.1]
NodeId=63
HostName=localhost

[cluster_config.ndbapi.4.1]
NodeId=127
HostName=localhost

[cluster_config.ndbapi.5.1]
NodeId=192
HostName=localhost

[cluster_config.ndbapi.6.1]
NodeId=228
HostName=localhost

[cluster_config.ndbapi.12.1]
NodeId=255
HostName=localhost

[mysqld.1.1]
ndb-cluster-connection-pool-nodeids=49,63,127
skip-log-bin
skip-log-slave-updates
datadir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/mysqld.1/data
#abs_datadir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysqld.1.1/data
#host=localhost
#log-error=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/log/mysqld.1.1.err
caching_sha2_password_private_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_private_key.pem
caching_sha2_password_public_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_public_key.pem
loose-sha256_password_private_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_private_key.pem
loose-sha256_password_public_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_public_key.pem
character-sets-dir=/home/msundell/dev/mysql-trunk/src-8.0/share/charsets
port=13001
general_log=1
general_log_file=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/mysqld.1/mysqld.log
loose-mysqlx-port=13010
loose-mysqlx-socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqlx.1.1.sock
loose-mysqlx-ssl=DISABLED
loose-mysqlx-ssl-ca=
loose-mysqlx-ssl-cert=
loose-mysqlx-ssl-key=
pid-file=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/run/mysqld.1.1.pid
server-id=1
slow_query_log=1
slow_query_log_file=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/mysqld.1/mysqld-slow.log
socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.1.1.sock
ssl-ca=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/cacert.pem
ssl-cert=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/server-cert.pem
ssl-key=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/server-key.pem
tmpdir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.1.1
loose-sha256_password_auto_generate_rsa_keys=0
loose-caching_sha2_password_auto_generate_rsa_keys=0
#mtr_basedir=/home/msundell/dev/mysql-trunk/src-8.0
#password=
#user=root
secure-file-priv=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled
ndb_connectstring=localhost:13000

[mysqld.2.1]
ndb-cluster-connection-pool-nodeids=16,32,48
skip-log-bin
skip-log-slave-updates
datadir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/mysqld.2/data
#abs_datadir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysqld.2.1/data
#host=localhost
#log-error=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/log/mysqld.2.1.err
caching_sha2_password_private_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_private_key.pem
caching_sha2_password_public_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_public_key.pem
loose-sha256_password_private_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_private_key.pem
loose-sha256_password_public_key_path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_public_key.pem
character-sets-dir=/home/msundell/dev/mysql-trunk/src-8.0/share/charsets
port=13002
general_log=1
general_log_file=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/mysqld.2/mysqld.log
loose-mysqlx-port=13011
loose-mysqlx-socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqlx.2.1.sock
loose-mysqlx-ssl=DISABLED
loose-mysqlx-ssl-ca=
loose-mysqlx-ssl-cert=
loose-mysqlx-ssl-key=
pid-file=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/run/mysqld.2.1.pid
server-id=2
slow_query_log=1
slow_query_log_file=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/mysqld.2/mysqld-slow.log
socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.2.1.sock
ssl-ca=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/cacert.pem
ssl-cert=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/server-cert.pem
ssl-key=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/server-key.pem
tmpdir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.2.1
loose-sha256_password_auto_generate_rsa_keys=0
loose-caching_sha2_password_auto_generate_rsa_keys=0
#mtr_basedir=/home/msundell/dev/mysql-trunk/src-8.0
#password=
#user=root
secure-file-priv=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled
ndb_connectstring=localhost:13000

[ndb_restore]
exclude-databases=mysql

[cluster_config.ndb_mgmd.1.1]
HostName=localhost
DataDir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/ndb_mgmd.1
PortNumber=13000

[cluster_config.ndbd.1.1]
HostName=localhost
BackupDataDir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/
DataDir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/ndbd.1

[cluster_config.ndbd.2.1]
HostName=localhost
BackupDataDir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/
DataDir=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/mysql_cluster.1/ndbd.2

[cluster_config.ndbapi.7.1]
HostName=localhost

[cluster_config.ndbapi.8.1]
HostName=localhost

[cluster_config.ndbapi.9.1]
HostName=localhost

[cluster_config.ndbapi.10.1]
HostName=localhost

[cluster_config.ndbapi.11.1]
HostName=localhost

[mysqlbinlog]
character-sets-dir=/home/msundell/dev/mysql-trunk/src-8.0/share/charsets
local-load=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp

[mysql_upgrade]

[client]
port=13001
host=localhost
password=
socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.1.1.sock
user=root

[mysqltest]
server-public-key-path=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/std_data/rsa_public_key.pem
ssl-mode=DISABLED

[client.1.1]
host=localhost
port=13001
password=
user=root
socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.1.1.sock

[client.2.1]
socket=/home/msundell/dev/mysql-trunk/src-8.0/mysql-test/var-ndb_disabled/tmp/mysqld.2.1.sock
user=root
password=
port=13002
host=localhost

[mysql_cluster.1]
ndb_connectstring=localhost:13000

