html.mobile, .mobile body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  background-color: #c5ccd3;
  font-family: Helvetica;
  font-size: 17px;
}
.mblColorBlue {
  background-color: #366EDF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
}
.mblColorDefault {
  background-color: #5877A2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8ea4c1), to(#4a6c9b), color-stop(0.5, #5877a2), color-stop(0.5, #476999));
}
.mblColorDefaultSel {
  background-color: #394D77;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c87a4), to(#263e6c), color-stop(0.5, #394d77), color-stop(0.5, #243b69));
}
.mblHeading {
  position: relative;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  padding: 0px;
  height: 42px;
  background-color: #889BB3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), to(#6d84a2), color-stop(0.5, #889bb3), color-stop(0.5, #8195af));
  border-top: 1px solid #CDD5DF;
  border-bottom: 1px solid #2D3642;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 44px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
}
.mblHeading * {
  z-index: 2;
}
.mblHeadingDivTitle {
  position: absolute;
  width: 100%;
  display: none;
  left: 0px;
  z-index: 1;
}
.mblHeadingCenterTitle .mblHeadingDivTitle {
  display: block;
}
.mblHeadingCenterTitle .mblHeadingSpanTitle {
  display: none;
}
.mblArrowButton {
  position: relative;
  float: left;
  height: 42px;
}
.mblArrowButtonHead {
  position: absolute;
  top: 11px;
  left: 5px;
  width: 20px;
  height: 19px;
  border: 1px solid #3A4655;
  -webkit-transform: scale(0.7, 1) rotate(45deg);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8ea4c1), to(#4a6c9b), color-stop(0.5, #5877a2), color-stop(0.5, #476999));
}
.dj_chrome .mblArrowButtonHead {
  border: 1px inset #3A4655;
}
.mblArrowButtonBody {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  top: 6px;
  left: 16px;
  padding: 0px 10px 0px 4px;
  height: 29px;
  border-width: 1px 1px 1px 0px;
  border-style: inset;
  border-color: #9CACC0;
  font-family: Helvetica;
  font-size: 13px;
  color: white;
  line-height: 29px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background-color: #5877A2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8ea4c1), to(#4a6c9b), color-stop(0.5, #5877a2), color-stop(0.5, #476999));
}
.mblArrowButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7c87a4), to(#263e6c), color-stop(0.5, #394d77), color-stop(0.5, #243b69));
}
.mblArrowButtonSelected .mblArrowButtonBody {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c87a4), to(#263e6c), color-stop(0.5, #394d77), color-stop(0.5, #243b69));
}
.mblSlide.mblOut {
	-webkit-transition-property: none;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0%,0px,0px) !important;
}
.mblSlide.mblOut.mblTransition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: .3s;
	-webkit-transform: translate3d(-100%,0px,0px) !important;
}
.mblSlide.mblIn {
	position: absolute !important;
	-webkit-transition-property: none;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(100%,0px,0px) !important;
}
.mblSlide.mblIn.mblTransition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: .3s;
	-webkit-transform: translate3d(0%,0px,0px) !important;
}
.mblSlide.mblOut.mblReverse {
	-webkit-transition-property: none;
	-webkit-transform: translate3d(0%,0px,0px) !important;
}
.mblSlide.mblOut.mblReverse.mblTransition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transform: translate3d(100%,0px,0px) !important;
}
.mblSlide.mblIn.mblReverse {
	-webkit-transform: translate3d(-100%,0px,0px) !important;
}
.mblSlide.mblIn.mblReverse.mblTransition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transform: translate3d(0%,0px,0px) !important;
}
.dj_android.dj_tablet .mblSlide.mblOut.mblTransition,
.dj_android.dj_tablet .mblSlide.mblIn.mblTransition {
	-webkit-transition-duration: .6s;
	-webkit-transition-timing-function: linear;
}
.mblFlip.mblOut {
	-webkit-transition-property: none;
	-webkit-transition-duration: 0s;
	opacity: 1;
	-webkit-transform: scale(1,1) skew(0,0) !important;
}
.mblFlip.mblOut.mblTransition {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: linear;
	opacity: 0;
	-webkit-transform: scale(0,0.8) skew(0,30deg) !important;
}
.mblFlip.mblIn {
	position: absolute;
	-webkit-transition-property: none;
	-webkit-transition-duration: 0s;
	opacity: 0;
	-webkit-transform: scale(0,0.8) skew(0,-30deg) !important;
}
.mblFlip.mblIn.mblTransition {
	-webkit-transition-property: all;
	-webkit-transition-delay: .2s;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: linear;
	opacity: 1;
	-webkit-transform: scale(1,1) skew(0,0) !important;
}
.dj_android.dj_tablet .mblFlip.mblOut.mblTransition {
	-webkit-transition-duration: .4s;
}
.dj_android.dj_tablet .mblFlip.mblIn.mblTransition {
	-webkit-transition-delay: .4s;
	-webkit-transition-duration: .4s;
}
.mblFade.mblOut {
	-webkit-transition-property: none;
	-webkit-transition-duration: 0s;
	opacity: 1;
}
.mblFade.mblOut.mblTransition {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .6s;
	-webkit-transition-timing-function: ease-out;
	opacity: 0;
}
.mblFade.mblIn {
	-webkit-transition-property: none;
	-webkit-transition-duration: 0s;
	opacity: 0;
}
.mblFade.mblIn.mblTransition {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .6s;
	-webkit-transition-timing-function: ease-in;
	opacity: 1;
}
.mblView {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}
.mblView.mblIn {
  position: absolute;
}
.mblFixedHeaderBar {
  z-index: 1;
}
.mblFixedBottomBar {
  position: absolute !important;
  width: 100%;
  z-index: 1;
}
.mblToolBarButton {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 6px;
  height: 29px;
  border: 1px inset #9CACC0;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: white;
  line-height: 29px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.mblToolBarButtonIcon {
  position: relative;
}
.mblToolBarButtonSpriteIcon {
  position: absolute;
}
.mblToolBarButtonText {
  padding: 0px 10px;
}
.mblRoundRect {
  margin: 7px 9px 16px 9px;
  padding: 8px;
  border: 1px solid #ADAAAD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: white;
}
.mblRoundRect.mblShadow {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.mblEdgeToEdgeCategory {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px 10px;
  height: 22px;
  border-top: 1px solid #A4B0B9;
  border-bottom: 1px solid #979DA3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8f9ea9), to(#b7c0c7));
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: white;
  line-height: 22px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
}
.mblRoundRectCategory {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 18px 0px 0px 20px;
  margin: 0px;
  font-family: Helvetica;
  font-size: 16px;
  color: #4C566C;
  text-shadow: #ffffff 0px 1px 0px;
}
.mblRoundRectList {
  position: relative;
  
  margin: 7px 9px 16px 9px;
  padding: 0px;
  border: 1px solid #ADAAAD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: white;
}
.mblRoundRectList .mblListItem:first-child {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}
.mblRoundRectList .mblListItem:last-child {
  border-bottom-width: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
.mblEdgeToEdgeList {
  position: relative;
  
  margin: 0px;
  padding: 0px;
  background-color: white;
}
.mblEdgeToEdgeList .mblListItem:last-child {
  border-bottom-color: #707C84;
}
.mblDomButtonGrayArrow, .mblDomButtonArrow {
	position: relative;
	width: 20px;
	height: 29px;
}
.mblDomButtonGrayArrow > div, .mblDomButtonArrow > div {
	position: absolute;
	top: 10px;
	left: 6px;
	width: 6px;
	height: 6px;
	font-size: 1px;
	-webkit-transform: rotate(45deg);
	border-width: 3px 3px 0px 0px;
	border-style: solid;
	border-color: #808080;
}
.mblDomButtonDarkBlueCheck, .mblDomButtonCheck {
	position: relative;
	width: 20px;
	height: 29px;
}
.mblDomButtonDarkBlueCheck > div, .mblDomButtonCheck > div {
	position: absolute;
	left: 0px;
	top: 8px;
	width: 16px;
	height: 6px;
	font-size: 1px;
	-webkit-transform: scaleX(0.7) rotate(135deg);
	border-width: 3px 4px 0px 0px;
	border-style: solid;
	border-color: #314E84;
}
.mblListItem {
  position: relative;
  list-style-type: none;
  vertical-align: bottom;
  
  padding: 0px 0px 0px 8px;
  height: 43px;
  border-bottom: 1px solid #ADAAAD;
  font-weight: bold;
  color: black;
  line-height: 43px;
}
.mblListItem.mblVariableHeight {
  height: auto;
  padding: 11px 0px 10px 6px;
  line-height: normal;
}
.mblListItem .mblListItemAnchor {
  display: block;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-position: 9px 7px;
  text-decoration: none;
  padding-right: 7px;
}
.mblListItem .mblListItemAnchor * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
.mblItemSelected {
  background-color: #048BF4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#048bf4), to(#005ce5));
}
.mblItemSelected .mblListItemAnchor {
  color: white;
}
.mblItemSelected .mblDomButton div {
  border-color: white;
}
.mblListItemTextBoxSelected {
  background-color: #048BF4;
}
.mblListItemChecked {
  color: #314E84;
}
.mblListItemIcon {
  float: left;
  line-height: normal;
  margin-top: 7px;
  margin-right: 11px;
}
.mblListItemSpriteIcon {
  position: absolute;
  margin-top: 7px;
  margin-left: 8px;
}
.mblListItemRightIcon, .mblListItemRightIcon2 {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: -7px;
}
.mblListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  color: #324F85;
  margin: 11px 4px 0 0;
}
.mblListItemTextBox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mblVariableHeight .mblListItemTextBox {
  white-space: normal;
}
.mblSwitch {
	margin: 0;
	position: relative;
	width: 94px;
	height: 27px;
	line-height: 29px;
	overflow: hidden;
	text-align: left;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.mblItemSwitch {
	position: absolute;
	right: 12px;
}
.mblSwitchInner {
	position: absolute;
	top: 0px;
	height: 27px;
}
.mblSwitchAnimation .mblSwitchInner {
	-webkit-transition-property: left;
	-webkit-transition-duration: .3s;
}
.mblSwitchOn .mblSwitchInner {
	left: 0px;
}
.mblSwitchOff .mblSwitchInner {
	left: -53px;
}
.mblSwitchBg {
	position: absolute;
	top: 0px;
	height: 27px;
	border-width: 1px;
	border-style: inset;
	border-color: #9CACC0;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	line-height: 29px;
	-webkit-box-sizing: border-box;
}
.mblSwitchBgLeft {
	left: 0px;
	width: 94px;
	color: white;
	background-color: #3F84EB;
}
.mblSwitchBgRight {
	left: 53px;
	width: 94px;
	color: #7F7F7F;
}
.mblSwitchKnob {
	position: absolute;
	top: 1px;
	left: 53px;
	width: 41px;
	height: 26px;
	font-size: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF #A5A5A5 #969696 #325E9E;
	-webkit-box-sizing: border-box;
}
.mblSwitchText {
	position: relative;
	top: 0px;
	width: 53px;
	height: 27px;
	padding: 0px;
	line-height: 28px;
	text-align: center;
}
.mblSwitchTextLeft {
	left: 0px;
}
.mblSwitchTextRight {
	left: 40px;
}
.mblSwRoundShape1 {
	height: 28px;
	-webkit-mask-image: -webkit-canvas(mblSwRoundShape1Mask);
}
.mblSwRoundShape1.mblItemSwitch {
	top: 8px;
}
.mblSwRoundShape1 .mblSwitchInner {
	height: 28px;
}
.mblSwRoundShape1.mblSwitchOff .mblSwitchInner {
	left: -67px;
}
.mblSwRoundShape1 .mblSwitchBg {
	height: 28px;
	-webkit-border-radius: 14px;
}
.mblSwRoundShape1 .mblSwitchBgLeft {
}
.mblSwRoundShape1 .mblSwitchBgRight {
	left: 67px;
}
.mblSwRoundShape1 .mblSwitchKnob {
	left: 67px;
	width: 26px;
	height: 26px;
	-webkit-border-radius: 13px;
}
.mblSwRoundShape1 .mblSwitchText {
	width: 67px;
	height: 26px;
}
.mblSwRoundShape1 .mblSwitchTextRight {
	left: 26px;
}
.mblSwRoundShape2 {
	height: 28px;
	-webkit-mask-image: -webkit-canvas(mblSwRoundShape2Mask);
}
.mblSwRoundShape2.mblItemSwitch {
	top: 8px;
}
.mblSwRoundShape2 .mblSwitchInner {
	height: 28px;
}
.mblSwRoundShape2.mblSwitchOff .mblSwitchInner {
	left: -51px;
}
.mblSwRoundShape2 .mblSwitchBg {
	height: 28px;
	-webkit-border-radius: 14px;
}
.mblSwRoundShape2 .mblSwitchBgRight {
	left: 51px;
}
.mblSwRoundShape2 .mblSwitchKnob {
	left: 51px;
	width: 42px;
	height: 26px;
	-webkit-border-radius: 13px;
}
.mblSwRoundShape2 .mblSwitchText {
	width: 51px;
	height: 28px;
}
.mblSwRoundShape2 .mblSwitchTextRight {
	left: 42px;
}
.mblSwArcShape1 {
	height: 28px;
	-webkit-border-radius: 6px/14px;
}
.mblSwArcShape1.mblItemSwitch {
	top: 8px;
}
.mblSwArcShape1 .mblSwitchInner {
	height: 28px;
}
.mblSwArcShape1.mblSwitchOff .mblSwitchInner {
	left: -67px;
}
.mblSwArcShape1 .mblSwitchBg {
	height: 28px;
	-webkit-border-radius: 6px/14px;
}
.mblSwArcShape1 .mblSwitchBgRight {
	left: 67px;
}
.mblSwArcShape1 .mblSwitchKnob {
	left: 67px;
	width: 26px;
	height: 26px;
	-webkit-border-radius: 5px/13px;
}
.mblSwArcShape1 .mblSwitchText {
	width: 67px;
	height: 26px;
}
.mblSwArcShape1 .mblSwitchTextRight {
	left: 26px;
}
.mblSwArcShape2 {
	height: 28px;
	-webkit-border-radius: 6px/14px;
}
.mblSwArcShape2.mblItemSwitch {
	top: 8px;
}
.mblSwArcShape2 .mblSwitchInner {
	height: 28px;
}
.mblSwArcShape2.mblSwitchOff .mblSwitchInner {
	left: -51px;
}
.mblSwArcShape2 .mblSwitchBg {
	height: 28px;
	-webkit-border-radius: 6px/14px;
}
.mblSwArcShape2 .mblSwitchBgRight {
	left: 51px;
}
.mblSwArcShape2 .mblSwitchKnob {
	left: 51px;
	width: 42px;
	height: 26px;
	-webkit-border-radius: 5px/13px;
}
.mblSwArcShape2 .mblSwitchText {
	width: 51px;
	height: 26px;
}
.mblSwArcShape2 .mblSwitchTextRight {
	left: 42px;
}
.mblItemSwitch {
  top: 8px;
}
.mblSwitchBg {
  -webkit-border-radius: 5px;
}
.mblSwitchBgLeft {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2859b1), to(#75acfb), color-stop(0.5, #3f84eb), color-stop(0.5, #4c8eee));
}
.mblSwitchBgRight {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#fdfdfd), color-stop(0.5, #eeeeee), color-stop(0.5, #f8f8f8));
}
.mblSwitchKnob {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fafafa));
  -webkit-border-radius: 5px;
}
.mblProgContainer {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 180px;
  left: 50%;
  margin: -18px 0px 0px -18px;
}
.mblProg {
  position: absolute;
  left: 2px;
  top: 0px;
  width: 11px;
  font-size: 1px;
  height: 4px;
  overflow: hidden;
  -webkit-transform-origin: 0 2px;
  background-color: #C0C0C0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.mblProg0 {
  -webkit-transform: translate(18px, 10px) rotate(-90.1deg);
}
.mblProg1 {
  -webkit-transform: translate(22px, 11px) rotate(-60deg);
}
.mblProg2 {
  -webkit-transform: translate(25px, 14px) rotate(-30deg);
}
.mblProg3 {
  -webkit-transform: translate(26px, 18px) rotate(0deg);
}
.mblProg4 {
  -webkit-transform: translate(25px, 22px) rotate(30deg);
}
.mblProg5 {
  -webkit-transform: translate(22px, 25px) rotate(60deg);
}
.mblProg6 {
  -webkit-transform: translate(18px, 26px) rotate(90.1deg);
}
.mblProg7 {
  -webkit-transform: translate(14px, 25px) rotate(120deg);
}
.mblProg8 {
  -webkit-transform: translate(11px, 22px) rotate(150deg);
}
.mblProg9 {
  -webkit-transform: translate(10px, 18px) rotate(180deg);
}
.mblProg10 {
  -webkit-transform: translate(11px, 14px) rotate(210deg);
}
.mblProg11 {
  -webkit-transform: translate(14px, 11px) rotate(240deg);
}
