
.mblHeading {
	background-image: url(compat/heading-bg.png);
}
.mblHeadingSpanTitle {
	white-space: normal;
}
.mblArrowButtonHead {
	position: absolute;
	top: 6px;
	left: 3px;
	width: 19px;
	height: 29px;
	border-style: none;
	background-image: url(compat/arrow-button-head.png);
}
.mblArrowButtonBody {
	padding: 0px 10px 0px 4px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	background-image: url(compat/arrow-button-bg.png);
}
.mblRoundCorner {
	background-color: white;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	border-style: solid;
	border-color: #ADAAAD;
	border-width: 0px 1px;
}
.mblRoundRectContainer {
	margin: 0px;
	padding: 0px;
	background-color: white;
	border-style: solid;
	border-color: #ADAAAD;
	border-width: 0px 1px;
}
.mblRoundRect .mblRoundRectContainer {
	padding: 3px 8px;
}
.mblRoundCorner0T {
	height: 0px;
}
.mblRoundCorner1T {
	background-color: #ADAAAD;
	margin: 0px 5px;
}
.mblRoundCorner2T {
	margin: 0px 2px;
	border-width: 0px 3px;
}
.mblRoundCorner3T {
	margin: 0px 1px;
	border-width: 0px 2px;
}
.mblRoundCorner4T {
	margin: 0px 1px;
}
.mblRoundCorner5T {
	margin: 0px 1px;
}
.mblRoundCorner0B {
	height: 0px;
}
.mblRoundCorner1B {
	margin: 0px 1px;
}
.mblRoundCorner2B {
	margin: 0px 1px;
}
.mblRoundCorner3B {
	margin: 0px 1px;
	border-width: 0px 2px;
}
.mblRoundCorner4B {
	margin: 0px 2px;
	border-width: 0px 3px;
}
.mblRoundCorner5B {
	background-color: #ADAAAD;
	margin: 0px 5px;
}
.mblRoundCorner {
	background-color: white;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	border-style: solid;
	border-color: #ADAAAD;
	border-width: 0px 1px;
}
.mblRoundRectContainer {
	margin: 0px;
	padding: 0px;
	background-color: white;
	border-style: solid;
	border-color: #ADAAAD;
	border-width: 0px 1px;
}
.mblRoundRect .mblRoundRectContainer {
	padding: 3px 8px;
}
.mblRoundCorner0T {
	height: 0px;
}
.mblRoundCorner1T {
	background-color: #ADAAAD;
	margin: 0px 5px;
}
.mblRoundCorner2T {
	margin: 0px 2px;
	border-width: 0px 3px;
}
.mblRoundCorner3T {
	margin: 0px 1px;
	border-width: 0px 2px;
}
.mblRoundCorner4T {
	margin: 0px 1px;
}
.mblRoundCorner5T {
	margin: 0px 1px;
}
.mblRoundCorner0B {
	height: 0px;
}
.mblRoundCorner1B {
	margin: 0px 1px;
}
.mblRoundCorner2B {
	margin: 0px 1px;
}
.mblRoundCorner3B {
	margin: 0px 1px;
	border-width: 0px 2px;
}
.mblRoundCorner4B {
	margin: 0px 2px;
	border-width: 0px 3px;
}
.mblRoundCorner5B {
	background-color: #ADAAAD;
	margin: 0px 5px;
}
.mblEdgeToEdgeCategory {
	background-image: url(compat/edge-categ-bg.png);
}
.mblDomButtonGrayArrow, .mblDomButtonArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonGrayArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonGrayArrow div, .mblDomButtonArrow div {
	display: none;
}
.mblDomButtonDarkBlueCheck, .mblDomButtonCheck {
	background-image: url(../common/domButtons/compat/mblDomButtonDarkBlueCheck.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBlueCheck div, .mblDomButtonCheck div {
	display: none;
}
*html li.mblListItem.mblVariableHeight { 
	height: 0;
}
.mblSwitchBg {
	border: none;
}
.mblSwitchBgLeft {
	background: none;
	background-image: url(compat/switch-default-l.gif);
	background-repeat: no-repeat;
}
.mblSwitchBgRight {
	background: none;
	background-image: url(compat/switch-default-r.gif);
	background-repeat: no-repeat;
}
.mblSwitchKnob {
	top: 0px;
	height: 27px;
	background: none;
	background-image: url(compat/switch-default-k.gif);
	background-repeat: no-repeat;
	border: none;
}
.mblSwRoundShape1 .mblSwitchBgLeft {
	background-image: url(compat/switch-round-l.gif);
}
.mblSwRoundShape1 .mblSwitchBgRight {
	background-image: url(compat/switch-round-r.gif);
}
.mblSwRoundShape1 .mblSwitchKnob {
	top: 1px;
	height: 26px;
	background-image: url(compat/switch-round1-k.gif);
}
.mblSwRoundShape2 .mblSwitchBgLeft {
	background-image: url(compat/switch-round-l.gif);
}
.mblSwRoundShape2 .mblSwitchBgRight {
	background-image: url(compat/switch-round-r.gif);
}
.mblSwRoundShape2 .mblSwitchKnob {
	top: 1px;
	height: 26px;
	background-image: url(compat/switch-round2-k.gif);
}
.mblSwArcShape1 .mblSwitchBgLeft {
	background-image: url(compat/switch-arc-l.gif);
}
.mblSwArcShape1 .mblSwitchBgRight {
	background-image: url(compat/switch-arc-r.gif);
}
.mblSwArcShape1 .mblSwitchKnob {
	top: 1px;
	height: 26px;
	background-image: url(compat/switch-arc1-k.gif);
}
.mblSwArcShape2 .mblSwitchBgLeft {
	background-image: url(compat/switch-arc-l.gif);
}
.mblSwArcShape2 .mblSwitchBgRight {
	background-image: url(compat/switch-arc-r.gif);
}
.mblSwArcShape2 .mblSwitchKnob {
	top: 1px;
	height: 26px;
	background-image: url(compat/switch-arc2-k.gif);
}
.mblProg {
	position: absolute;
	top: 0px;
	width: 4px;
	font-size: 1px;
	height: 36px;
	overflow: hidden;
	background-color: #C0C0C0;
}
.mblProg0 {
	left: 0px;
}
.mblProg1 {
	left: 8px;
}
.mblProg2 {
	left: 16px;
}
.mblProg3 {
	left: 24px;
}
.mblProg4 {
	left: 32px;
}
.mblProg5 {
	left: 40px;
}
.mblProg6 {
	left: 48px;
}
.mblProg7 {
	left: 56px;
}
.mblProg8 {
	left: 64px;
}
.mblProg9 {
	left: 72px;
}
.mblProg10 {
	left: 80px;
}
.mblProg11 {
	left: 80px;
}
.mblDomButtonWhitePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonWhitePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonWhitePlus div {
	display: none;
}
.mblDomButtonWhiteUpArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonWhiteUpArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonWhiteUpArrow div {
	display: none;
}
.mblDomButtonWhiteDownArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonWhiteDownArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonWhiteDownArrow div {
	display: none;
}
.mblDomButtonWhiteSearch {
	background-image: url(../common/domButtons/compat/mblDomButtonWhiteSearch.png);
	background-repeat: no-repeat;
}
.mblDomButtonWhiteSearch div {
	display: none;
}
.mblDomButtonBlueMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonBlueMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlueMinus div {
	display: none;
}
.mblDomButtonBluePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonBluePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonBluePlus div {
	display: none;
}
.mblDomButtonDarkBlueMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonDarkBlueMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBlueMinus div {
	display: none;
}
.mblDomButtonDarkBluePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonDarkBluePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBluePlus div {
	display: none;
}
.mblDomButtonRedMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonRedMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedMinus div {
	display: none;
}
.mblDomButtonRedPlus {
	background-image: url(../common/domButtons/compat/mblDomButtonRedPlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedPlus div {
	display: none;
}
.mblDomButtonCheckboxOn {
	background-image: url(../common/domButtons/compat/mblDomButtonCheckboxOn.png);
	background-repeat: no-repeat;
}
.mblDomButtonCheckboxOn div {
	display: none;
}
.mblDomButtonCheckboxOff {
	background-image: url(../common/domButtons/compat/mblDomButtonCheckboxOff.png);
	background-repeat: no-repeat;
}
.mblDomButtonCheckboxOff div {
	display: none;
}
.mblDomButtonBlueCircleMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonBlueCircleMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlueCircleMinus > div {
	display: none;
}
.mblDomButtonBlueCirclePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonBlueCirclePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlueCirclePlus > div {
	display: none;
}
.mblDomButtonBlueCircleArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonBlueCircleArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlueCircleArrow > div {
	display: none;
}
.mblDomButtonRedCircleMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonRedCircleMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedCircleMinus > div {
	display: none;
}
.mblDomButtonRedCirclePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonRedCirclePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedCirclePlus > div {
	display: none;
}
.mblDomButtonRedCircleArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonRedCircleArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedCircleArrow > div {
	display: none;
}
.mblDomButtonGreenCircleMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonGreenCircleMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonGreenCircleMinus > div {
	display: none;
}
.mblDomButtonGreenCirclePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonGreenCirclePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonGreenCirclePlus > div {
	display: none;
}
.mblDomButtonGreenCircleArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonGreenCircleArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonGreenCircleArrow > div {
	display: none;
}
.mblDomButtonBlackCircleCross {
	background-image: url(../common/domButtons/compat/mblDomButtonBlackCircleCross.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlackCircleCross > div {
	display: none;
}
.mblDomButtonGrayRoundRect > div {
	-moz-border-radius: 4px;
}
.mblDomButtonSilverCircleDownArrow {
	background-image: url(../common/domButtons/compat/mblDomButtonSilverCircleDownArrow.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleDownArrow > div {
	display: none;
}
.mblDomButtonSilverCircleGreenButton {
	background-image: url(../common/domButtons/compat/mblDomButtonSilverCircleGreenButton.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleGreenButton > div {
	display: none;
}
.mblDomButtonSilverCircleGrayButton {
	background-image: url(../common/domButtons/compat/mblDomButtonSilverCircleGrayButton.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleGrayButton > div {
	display: none;
}
.mblDomButtonSilverCircleOrangeButton {
	background-image: url(../common/domButtons/compat/mblDomButtonSilverCircleOrangeButton.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleOrangeButton > div {
	display: none;
}
.mblDomButtonSilverCircleGreenPlus {
	background-image: url(../common/domButtons/compat/mblDomButtonSilverCircleGreenPlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleGreenPlus > div {
	display: none;
}
.mblDomButtonSilverCircleRedCross {
	background-image: url(../common/domButtons/compat/mblDomButtonSilverCircleRedCross.png);
	background-repeat: no-repeat;
}
.mblDomButtonSilverCircleRedCross > div {
	display: none;
}
.mblDomButtonBlueBall {
	background-image: url(../common/domButtons/compat/mblDomButtonBlueBall.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlueBall > div {
	display: none;
}
.mblDomButtonGreenBall {
	background-image: url(../common/domButtons/compat/mblDomButtonGreenBall.png);
	background-repeat: no-repeat;
}
.mblDomButtonGreenBall > div {
	display: none;
}
.mblDomButtonOrangeBall {
	background-image: url(../common/domButtons/compat/mblDomButtonOrangeBall.png);
	background-repeat: no-repeat;
}
.mblDomButtonOrangeBall > div {
	display: none;
}
.mblDomButtonRedBall {
	background-image: url(../common/domButtons/compat/mblDomButtonRedBall.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedBall > div {
	display: none;
}
.mblDomButtonYellowStar {
	background-image: url(../common/domButtons/compat/mblDomButtonYellowStar.png);
	background-repeat: no-repeat;
}
.mblDomButtonYellowStar > div {
	display: none;
}
.mblDomButtonGrayStar {
	background-image: url(../common/domButtons/compat/mblDomButtonGrayStar.png);
	background-repeat: no-repeat;
}
.mblDomButtonGrayStar > div {
	display: none;
}
.mblSpinWheel {
	background-color: #D6D7DC;
	background-image: -moz-linear-gradient(top, #313137 0%, #73747D 5%, #92939B 7%, #ABABB5 9%, #C5C6CE 12%, #DFE0E4 16%, #F4F5F6 22%, #FBFCFC 35%, #FBFCFC 50%, #FBFCFC 61%, #B4C1C7 61%, #FBFCFC 65%, #F4F5F6 78%, #DFE0E4 84%, #C5C6CE 88%, #ABABB5 91%, #92939B 93%, #73747D 95%, #313137 100%);
	-moz-border-radius: 3px;
}
.dj_ie .mblSpinWheel {
	background-image: url(../common/compat/spinwheel-bg.png);
}
.mblSpinWheelBar {
	background-color: #C4CADC;
	background-image: -moz-linear-gradient(top, #EDEEF2 0%, #C8CADD 25%, #BBBFD4 49%, #9FA8C6 51%, #A2A9C7 81%, #A6ABC9 82%, #A7ADCA 1%);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=60);
}
.dj_ie .mblSpinWheelBar {
	background-image: url(../common/compat/spinwheel-bar.png);
}
.dj_ie6 .mblSpinWheelBar, .dj_ie7 .mblSpinWheelBar {
	z-index: -1;
}
*:first-child+html .mblSpinWheelSlotTouch { 
	background: white;
	filter: alpha(opacity=0);
	height: 200px;
}
*html .mblSpinWheelSlotTouch { 
	background: white;
	filter: alpha(opacity=0);
	height: 200px;
}
.mblSpinWheelSlotTouch, .mblSpinWheelSlotPanel {
	left: 0px;
}
.mblButton {
	background-color: #cfcfcf;
	background-image: url(compat/button-bg.png);
	background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.mblButtonSelected {
	background-color: #c0c0c0;
	background-image: url(compat/button-sel-bg.png);
}
.mblButtonDisabled {
	background-image: none;
}
.mblBlueButton {
	background-color: #2261dd;
	background-image: url(compat/blue-button-bg.png);
}
.mblBlueButtonSelected {
	background-color: #4a6c9b;
	background-image: url(compat/blue-button-sel-bg.png);
}
.mblRedButton {
	background-color: #ee4115;
	background-image: url(compat/red-button-bg.png);
}
.mblRedButtonSelected {
	background-color: #9b6c4a;
	background-image: url(compat/red-button-sel-bg.png);
}
.mblCheckBox {
	background-image: url(compat/button-bg.png);
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-o-transform: translateY(0.45em);
	-ms-transform: translateY(0.45em);
	transform: translateY(0.45em);
}
.mblCheckBoxSelected {
	background-image: url(compat/button-sel-bg.png);
}
.mblCheckBoxChecked,
.mblCheckBox:checked {
	background-image: url(compat/blue-button-bg.png);
}
.mblCheckBoxChecked::after,
.mblCheckBox:checked::after {
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.mblCheckBoxChecked.mblCheckBoxSelected {
	background-image: url(compat/blue-button-sel-bg.png);
}
.dijitPopup {
	-moz-box-shadow: 0px 0px 50px black;
	-o-box-shadow: 0px 0px 50px black;
	-ms-box-shadow: 0px 0px 50px black;
	box-shadow: 0px 0px 50px black;
}
.mblDomButtonBlueMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonBlueMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonBlueMinus div {
	display: none;
}
.mblDomButtonBluePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonBluePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonBluePlus div {
	display: none;
}
.mblDomButtonDarkBlueMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonDarkBlueMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBlueMinus div {
	display: none;
}
.mblDomButtonDarkBluePlus {
	background-image: url(../common/domButtons/compat/mblDomButtonDarkBluePlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonDarkBluePlus div {
	display: none;
}
.mblDomButtonRedMinus {
	background-image: url(../common/domButtons/compat/mblDomButtonRedMinus.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedMinus div {
	display: none;
}
.mblDomButtonRedPlus {
	background-image: url(../common/domButtons/compat/mblDomButtonRedPlus.png);
	background-repeat: no-repeat;
}
.mblDomButtonRedPlus div {
	display: none;
}
.mblIconArea div {
	*font-size: 60px; 
}
.mblIconContentHeading {
	background-image: url(compat/icon-content-heading-bg.png);
}
.mblOverlay {
	*position: absolute;
	background-color: #CECECE;
	background-image: none;
	text-align: center;
}
.dj_gecko .mblOverlay {
	text-align: -moz-center;
}
.dj_ie9 .mblOverlay > *,
.dj_ie8 .mblOverlay > *
{
	margin: 0 auto;
}
.mblTooltip {
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	background-image: none;
}
.mblTooltipBefore .mblTooltipArrow {
	*right: 0; 
}
.mblTooltipAbove .mblTooltipArrow {
	*bottom: 0px; 
}
.mblTooltipBefore .mblTooltipInnerArrow {
	*right: -1px; 
}
.mblTooltipAbove .mblTooltipInnerArrow {
	*bottom: -1px;  
}
.mblTooltipAbove .mblTooltipInnerArrow {
	border-bottom-color: #172035;
}
.mblTooltip .mblHeading {
	background-image: url(compat/tooltip-heading-bg.png);
	*padding: 0 9px 9px;
	*border-top: 1px solid #4F5055;
	*border-bottom: 1px solid #2D3642;
	*width: auto;
	*height: auto;
	*overflow: visible;
	*line-height: normal;
}
.dj_ie9 .mblTooltip .mblHeading {
	width: auto;
}
.mblTooltip .mblHeading .mblToolBarButton {
	background-color: #000924;
	background-image: url(compat/tooltip-button-bg.png);
	*margin: auto 6px;
}
.mblRadioButton {
	background-image: url(compat/button-bg.png);
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-o-transform: translateY(0.45em);
	-ms-transform: translateY(0.45em);
	transform: translateY(0.45em);
}
.mblRadioButtonChecked,
.mblRadioButton:checked {
	background-image: url(compat/blue-button-bg.png);
}
.mblRadioButtonChecked::after,
.mblRadioButton:checked::after {
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.mblRadioButtonChecked.mblRadioButtonSelected {
	background-image: url(compat/blue-button-sel-bg.png);
}
.mblSlider {
	background-image: url(compat/slider-h-bg.png);
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px; 
	border-radius: 8px;
	-moz-user-select: none; 
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-box-sizing: content-box; 
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}
.mblSlider.mblSliderV {
	background: #ABABAB;
}
.mblSliderProgressBar {
	background-image: url(compat/slider-h-bar-bg.png);
	background-repeat: repeat-x;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px; 
	border-radius: 8px;
}
.mblSliderV .mblSliderProgressBar {
	background: #0D48A8;
}
.mblSliderHandle {
	background-image: url(compat/slider-handle-bg.png);
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px; 
	border-radius: 10px;
}
.mblSliderTransition {
	-moz-transition-duration: 400ms;
	-o-transition-duration: 400ms;
	-ms-transition-duration: 400ms;
	transition-duration: 400ms;
}
.dj_ie6 .mblTabBarButtonDiv, .dj_ie7 .mblTabBarButtonDiv {
	left: auto;
}
.dj_ie6 .mblTabBar .mblTabBarButton {
  display: inline; 
}
.mblTabPanelHeader {
	background-image: url(compat/heading-bg.png);
}
.mblTabContainer .mblTabButton {
	background-image: url(compat/tab-button-bg.png);
}
.mblTabContainer .mblTabButtonSelected {
	background-image: url(compat/tab-sel-button-bg.png);
}
*html .mblTabButton { 
	behavior: expression(
		(function(el){
			if(!el.previousSibling)
				el.style.borderWidth = "1px";
			el.style.behavior = "none";
		})(this)
	);
}
.dj_ie6 .mblTabPanelHeader .mblDomButton {
	left: 0px;
}
.mblTabButton:first-child {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
}
.mblTabButton:last-child {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}
.mblTextArea {
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.mblTextBox {
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.mblToggleButton {
	background-image: url(compat/button-bg.png);
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.mblToggleButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.mblToggleButtonChecked {
	background-image: url(compat/blue-button-bg.png);
}
.mblToggleButton.mblToggleButtonChecked::after {
	-moz-transform: translate(-25px,0px) rotate(45deg) skew(10deg);
	-o-transform: rotate(45deg) skew(10deg);
	-ms-transform: rotate(45deg) skew(10deg);
	transform: rotate(45deg) skew(10deg);
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.dj_ff3 .mblToggleButton.mblToggleButtonChecked::after {
	-moz-transform: translate(-25px,-6px) rotate(45deg) skew(10deg);
}
.mblToggleButtonChecked.mblToggleButtonSelected {
	background-image: url(compat/blue-button-sel-bg.png);
}
