# Use settings from rpl_1slave_base.cnf
# add setting to connect the slave to the master by default
!include rpl_1slave_base.cnf

[mysqld.2]
# Hardcode the host to 127.0.0.1 until running on more
# than one host and it need to be masked
# master-host=              @mysqld.1.#host
master-host=              127.0.0.1
master-port=              @mysqld.1.port
master-password=          @mysqld.1.#password
master-user=              @mysqld.1.#user
master-connect-retry=     1

