# Use settings from rpl_1slave_base.cnf
# add setting to connect the slave to the master by default
!include rpl_1slave_base.cnf
!include include/default_client.cnf

[mysqld.1]
debug=d,info,where:O,/tmp/mysqld1.trace

[mysqld.2]
debug=d,info,where:O,/tmp/mysqld2.trace
