<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>Demo GridContainer</title>

		<style title="text/css">
			@import "../../../dojo/resources/dojo.css";
			@import "../../../dijit/themes/tundra/tundra.css";
			
			html, body{
				margin:0;
				padding:1%;
			}

			.cpane{
				border:1px solid #666;
				font:bold 12px Arial;
				color:#666;
				background:#FFF;
				padding:10px;
			}
			
			.gridContainerPopup{
				position:absolute;
				top:40%;
				left:40%;
				width:200px;
				height:auto;	
				border:1px solid #BFBFBF;
				background-color:#FFF;
				text-align:center;
				padding:10px;
			}
			
			.dj_ie6 .orange .gridContainerPopup{
				top:10%;
			}
			
			.dj_ie6 .dropIndicator, .dj_ie6 .dijitContentpane, .dj_ie6 .dijitCalendar{
				margin: 10px;
			}
			.gridContainerZone > *{
				margin: 10px !important;
			}
		</style>
		<link rel="stylesheet" href="../resources/GridContainer.css">
	</head>

	<body class="tundra">
		
		<h1 class="testTitle">Grid Container Lite</h1>
		<h2>Accessibility</h2>
			<ul>
				<li>Possibility to move focus into the GridContainer (TAB, LEFT ARROW, RIGHT ARROW, UP ARROW, DOWN ARROW).</li>
				<li>Possibility to move GridContainer's children (Drag and Drop) with keyboard. (SHIFT + LEFT ARROW or RIGHT ARROW or UP ARROW or DOWN ARROW). To test dnd restriction, try to move a TitlePane widget...</li>
			</ul>
		<h2>Grid Container (acceptTypes="ContentPane, Calendar", nbZones="3", isAutoOrganized="true", doLayout="false")</h2>
			
			<div id="GC1" data-dojo-type="dojox/layout/GridContainerLite" 
				nbZones="3"
				hasResizableColumns="false" 
				doLayout="false" 
				acceptTypes="ContentPane, Calendar">
					<div data-dojo-type="dijit/layout/ContentPane" class="cpane" label="Content Pane" dndType="ContentPane" >Content Pane n°1 !</div>
					<div data-dojo-type="dijit/TitlePane" title="Ergo" dndType="TitlePane" >
						Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
					</div>
					<div data-dojo-type="dijit/layout/ContentPane" class="cpane" label="Content Pane" dndType="ContentPane">Content Pane n°2 !</div>
			  		<div data-dojo-type="dijit/layout/ContentPane" title="Intellectum" dndType="ContentPane">
			  			Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.
			  		</div>
			  		
					<div data-dojo-type="dijit/layout/ContentPane" class="cpane" label="Content Pane" dndType="ContentPane">Content Pane n°3 !</div>
					<div data-dojo-type="dijit/layout/ContentPane" class="cpane" label="Content Pane" dndType="ContentPane">Content Pane n°4 !</div>
					<div data-dojo-type="dijit/Calendar" dndType="Calendar"></div>
			</div>
			<div id="foo"></div>
    		<script src="../../../dojo/dojo.js" data-dojo-config="isDebug: true, parseOnLoad: true, async: 1"></script>
    		<script src="../../../dijit/tests/_testCommon.js"></script>

    		<script>
    		    require(["dojo/parser", "dojo/topic", "dojo/dom-class", "dojo/dom-construct", "dojo/_base/lang", "dijit/registry", "dojox/layout/GridContainerLite","dijit/TitlePane", "dijit/layout/ContentPane", "dijit/Calendar", "dojo/domReady!"],
    		    function(parser, topic, domClass, domConstruct, lang, registry, GridContainerLite){
        			var fooWidget = new GridContainerLite({}, "foo");
        			var canDisplayPopup = true;

        			function displayPopup(gridContainer) {
        				//	summary:
        				//		Display a popup when a widget can not be moved (not accepted type)

        				if(canDisplayPopup){
        					canDisplayPopup = false;
        					var popup = document.createElement("div");
        					domClass(popup, "gridContainerPopup");
        					popup.innerHTML = "Impossible to move this widget ! ";
        					var attachPopup = registry.byId("GC1").containerNode.appendChild(popup);
        					setTimeout(lang.hitch(this, function(){
        						registry.byId("GC1").containerNode.removeChild(attachPopup);
        						domConstruct.destroy(attachPopup);
        						canDisplayPopup = true;
        					}), 1500);
        				}
        			};
        			topic.subscribe("/dojox/layout/gridContainer/moveRestriction",displayPopup);
    		    });
    		</script>
	</body>
</html>
