<div>
	<!-- left -->
	<div data-dojo-type="dojox/app/widgets/Container" class="navPane" data-app-constraint="left">
		<h1 id="tab1WrapperA" style="visibility:hidden" data-dojo-type="dojox/mobile/Heading" data-app-constraint="top">
			Transition Tests</h1>

		<div id="tab1WrapperB" style="visibility:hidden"
			 data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center"
			 data-dojo-props="scrollable: true">
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-dojo-props='variableHeight:true'>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,V1', url: '#P1,S1,V1'">
					<div class="textBox">
						<div class="subject">P1,S1,V1</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V2', url: '#V2'">
					<div class="textBox">
						<div class="subject">V2</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,V3', url: '#P1,S1,V3'">
					<div class="textBox">
						<div class="subject">P1,S1,V3</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,V8', url: '#P1,S1,V8'">
					<div class="textBox">
						<div class="subject">P1,S1,V8</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: '-P1,S1,V8', url: '#-P1,S1,V8'">
					<div class="textBox">
						<div class="subject">-P1,S1,V8</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V4', url: '#V4'">
					<div class="textBox">
						<div class="subject">V4</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V5+P2,S2,Ss2,V6', url: '#P2,S2,Ss2,V5+P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V5+P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V5', url: '#P2,S2,Ss2,V5'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V5</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V5-P2,S2,Ss2,V6', url: '#P2,S2,Ss2,V5-P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V5-P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: '-P2,S2,Ss2,V6', url: '#-P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">-P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V6', url: '#P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: '-P2,S2,Ss2', url: '#-P2,S2,Ss2'">
					<div class="textBox">
						<div class="subject">-P2,S2,Ss2</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,TestInfo', url: '#'">
					<div class="textBox">
						<div class="subject">Test Instructions</div>
						Test instructions, notes and known problems (transition none)
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>