<div>
    <h3 style='background-color:green;'>View 6 center.</h3>
    <h3 style='background-color:green;'>View 6 center.</h3>
    <h3 style='background-color:green;'>View 6 center.</h3>
    <h3 style='background-color:green;'>View 6 center.</h3>
    		<ul data-dojo-type="dojox/mobile/RoundRectList">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 1 top',target:'view1',url:'#view1'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 2 top',target:'view2',url:'#view2'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 3 left',target:'view3',url:'#view3'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 4 left',target:'view4',url:'#view4'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Remove view7 right',target:'-view7',url:'#-view7'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Remove view8 right',target:'-view8',url:'#-view8'"></li>
			</ul>
</div>