<div style='background-color:cyan;'>
    <h3 style='background-color:cyan;'>View 3 left......................</h3>
	<div data-dojo-type="dojox/mobile/ScrollableView">    
			<ul data-dojo-type="dojox/mobile/RoundRectList">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 2+10+4+8+6',target:'view2+view10+view4+view8+view6',url:'#view2+view10+view4+view8+view6'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 1+9+3+7+5',target:'view1+view9+view3+view7+view5',url:'#view1+view9+view3+view7+view5'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 1-8 top',target:'view1-view8',url:'#view1-view8'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 2-7 top',target:'view2-view7',url:'#view2-view7'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View left 3-9',target:'view3-view9',url:'#view3-view9'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 4 left',target:'view4',url:'#view4'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View center 5-10',target:'view5-view10',url:'#view5-view10'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View center 6-10',target:'view6-view10',url:'#view6-view10'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 7 right',target:'view7',url:'#view7'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 8 right',target:'view8',url:'#view8'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 9 bottom',target:'view9',url:'#view9'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'View 10 bottom',target:'view10',url:'#view10'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'List Data Test',target:'list',url:'#list'"></li>
			</ul>
	</div>
</div>
