<div style='background-color:green;'>
    <h3>View 4 left..added for spacing..</h3>
	<div data-dojo-type="dojox/mobile/ScrollableView">    
			<ul data-dojo-type="dojox/mobile/RoundRectList">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view2+view10+view4+view8+view6',url:'#view2+view10+view4+view8+view6'">
					View 2+10+4+8+6
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view1+view9+view3+view7+view5',url:'#view1+view9+view3+view7+view5'">
					View 1+9+3+7+5
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view1-view8',url:'#view1-view8'">
					View 1-8 top
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view2-view7',url:'#view2-view7'">
					View 2-7 top
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view3-view9',url:'#view3-view9'">
					View left 3-9
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view4',url:'#view4'">
					View 4 left
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view5-view10',url:'#view5-view10'">
					View center 5-10 
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view6-view10',url:'#view6-view10'">
					View center 6-10 
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view7',url:'#view7'">
					View 7 right
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view8',url:'#view8'">
					View 8 right
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view9',url:'#view9'">
					View 9 bottom
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'view10',url:'#view10'">
					View 10 bottom
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'list',url:'#list'">
					List Data Test
				</li>
				
			</ul>
	</div>    
</div>
