# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.ic text
*.cc text
*.cpp text
*.h text
*.test text

# These files should be checked out as is
*.result -text -whitespace
*.dat -text -whitespace

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.frm binary
*.MYD binary
*.MYI binary

*.c     diff=cpp
*.h     diff=cpp
*.cc    diff=cpp
*.ic    diff=cpp
*.cpp   diff=cpp
