# MySQL config file.
#
# This is for a large system with memory = 512M where the system runs mainly
# MySQL.
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /export/home/mysql/data) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
#port		= 3306
socket		= /tmp/mysql.bool.sock
#default-character-set = utf8mb4

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port		= 3307
socket		= /tmp/mysql.bool.sock
datadir         = <datadir>     # ex. /home/user/mysql/db/
#default-character-set = utf8mb4
# default-authentication-plugin = mysql_native_password
default-storage-engine = InnoDB
key_buffer_size = 256M
max_allowed_packet = 4M
table_open_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
#lc-messages-dir=./sql/share/
secure_file_priv = /tmp
# Try number of CPU's*2 for thread_concurrency
#thread_concurrency = 8

general_log=1
general_log_file=<.log-file in mysql directory>     # ex. /home/user/mysql/db/db.log
slow_query_log=on

# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-bin
skip-slave-start=true

# binary logging format - mixed recommended
binlog_format=mixed

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1


# Point the following paths to different dedicated disks
tmpdir = /tmp/mysql-bool/
#log-update = /path-to-dedicated-directory/hostname

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir = <innodb_data_home_dir>       # ex. /home/user/mysql/db/
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = <innodb_log_group_home_dir>       # ex. /home/user/mysql/db/
innodb_undo_directory = <innodb_undo_directory> # ex. /home/user/mysql/db/
innodb_tmpdir = /tmp/mysql-bool/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 128M
innodb_buffer_pool_instances = 1
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = o_direct
innodb_lock_wait_timeout = 50
innodb_force_recovery = 0
innodb_fast_shutdown = 0
[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
default-character-set = utf8mb4

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
