<div>
	<!-- left -->
	<div data-dojo-type="dojox/app/widgets/Container" class="navPane" data-app-constraint="left">
		<h1 id="tab1WrapperA" style="visibility:hidden" data-dojo-type="dojox/mobile/Heading" data-app-constraint="top">
			Select Scrollable List</h1>

		<div id="tab1WrapperB" style="visibility:hidden"
			 data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center"
			 data-dojo-props="scrollable: true">
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-dojo-props='variableHeight:true'>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'Footer1,Header1,LongList1', url: '#Footer1,Header1,LongList1'">
					<div class="textBox">
						<div class="subject">Long List One</div>
						Uses app/widgets/Container with a parent Header view no footer with data-app-constraint and
						EdgeToEdgeStoreList
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'LongList2', url: '#LongList2'">
					<div class="textBox">
						<div class="subject">Long List Two</div>
						Uses app/widgets/Container with a fixed Header no footer with data-app-constraint and
						EdgeToEdgeStoreList
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'Footer1,Header1,LongList3', url: '#Footer1,Header1,LongList3'">
					<div class="textBox">
						<div class="subject">Long List Three</div>
						Uses app/widgets/Container with a fixed Header no footer with data-app-constraint and
						EdgeToEdgeStoreList
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'LongList4', url: '#LongList4'">
					<div class="textBox">
						<div class="subject">Long List Four</div>
						Uses app/widgets/Container with a fixed Header and footer defined in LongList4 with
						data-app-constraint and EdgeToEdgeStoreList
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'Footer1,Header1,TestInfo', url: '#Footer1,Header1,TestInfo'">
					<div class="textBox">
						<div class="subject">Test Instructions</div>
						Test instructions, notes and known problems (transition none)
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>