@import 'dijit_form_variables';

.{$theme-name} {

	/* ----- ComboButton ----- */

	table.dijitComboButtonRtl .dijitStretch  {
		border-radius: 0 $button-border-radius $button-border-radius 0;
	}
	table.dijitComboButtonRtl .dijitArrowButton {
		border-radius: $button-border-radius 0 0 $button-border-radius;
		border-left-width: 1px;
		border-right-width: 0;
	}

	/* ----- DropDownButton ----- */

	.dijitDropDownButtonRtl {
		.dijitButtonNode {
			padding-left: $padding*2;
		}
		.dijitArrowButtonInner {
			margin-left: 0;
			margin-right: $padding * 3;
		}
	}
}