!include include/ndb_add_node_mysqld.cnf
!include include/ndb_add_node.cnf

[cluster_config.1]
NoOfReplicas=                  2
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,

[cluster_config.ndbapi.8.1]
NodeId=63

[cluster_config.ndbapi.9.1]
NodeId=127

[cluster_config.ndbapi.10.1]
NodeId=192

[cluster_config.ndbapi.11.1]
NodeId=228

[cluster_config.ndbapi.12.1]
NodeId=255

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=20
ndb-cluster-connection-pool=3

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir

