[cluster_config]
NoOfReplicas=1
DataMemory=70M

[cluster_config.jonas]
ndbd = localhost,localhost,localhost,localhost
ndb_mgmd = localhost
mysqld = localhost

[cluster_config.ndbd.1]
DataMemory=45M

[cluster_config.ndbd.2.jonas]
DataMemory=55M

[cluster_config.bug44689]
NoOfReplicas=2
ndbd = 192.168.0.1,192.168.0.2,192.168.0.3,192.168.0.4
ndb_mgmd = 192.168.0.1
mysqld = 192.168.0.1

[cluster_config.bug56185]
NoOfReplicas=1
ndbd = localhost
ndb_mgmd = localhost
mysqld = localhost, localhost

[cluster_config.ndbd.1.bug56185]
LockExecuteThreadToCPU=0-65535
Arbitration=Disabled

[cluster_config.bug14555359]
NoOfReplicas=2
ndbd = localhost, localhost
ndb_mgmd = localhost
mysqld = localhost, localhost
ExtraSendBufferMemory=3M

# cluster_config.ndbd.1.bug14555359 gets 3M for ExtraSendBufferMemory
# from the above [cluster_config.bug14555359], but not mgmds or mysqlds

# Config ExtraSendBufferMemory for ndbd.2.bug14555359, to use a value
# different from that defined in cluster_config.bug14555359
[cluster_config.ndbd.2.bug14555359]
ExtraSendBufferMemory=4M

# Config ExtraSendBufferMemory for mgmd.1.bug14555359
[cluster_config.ndb_mgmd.1.bug14555359]
ExtraSendBufferMemory=1M

# Config ExtraSendBufferMemory for mysqld.1.bug14555359
[cluster_config.mysqld.1.bug14555359]
ExtraSendBufferMemory=2M

# mysqld.2.bug14555359 will have 0 for ExtraSendBufferMemory

# Config with 2 mgmds on default port
[cluster_config.bug32175157]
ndbd = localhost, localhost
ndb_mgmd = localhost, localhost
mysqld =

# Config with Invalid Nodegroup, Max Nodegroups = 72
[cluster_config.bug32210176]
NoOfReplicas = 2
ndbd = localhost, localhost
ndb_mgmd = localhost
mysqld =
[cluster_config.ndbd.1.bug32210176]
NodeId=2
Nodegroup = 75

# Config with Datanodes > 72 and replicas = 1
[cluster_config.bug32258207]
NoOfReplicas = 1
ndbd = localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost, localhost
ndb_mgmd = localhost
mysqld =

[cluster_config.bug32871875]
NoOfReplicas = 1
AutomaticThreadConfig = true
CompressedLCP = false
ndbd = localhost
ndb_mgmd = localhost
mysqld =
