[cluster_config]
NoOfReplicas=1
DataMemory=50M

[cluster_config.jonas]
IndexMemory=50M
ndbd = localhost,localhost,localhost,localhost
ndb_mgmd = localhost
mysqld = localhost

[cluster_config.ndbd.1]
DataMemory=25M

[cluster_config.ndbd.2.jonas]
DataMemory=35M
