<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Accordion Widget Demo</title>

	<!-- only needed for test files: -->
	<style type="text/css">
		@import "../../../themes/claro/document.css";
		@import "../../css/dijitTests.css";
	</style>

	<!-- required: the default dijit theme: -->
	<link id="themeStyles" rel="stylesheet" href="../../../../dijit/themes/claro/claro.css"/>

	<script type="text/javascript" src="../../../../dojo/dojo.js"
		data-dojo-config="async: true, isDebug: true, has: { 'dojo-bidi': true }"></script>

	<script type="text/javascript">
		require([
			"doh/runner",
			"dojo/dom",
			"dojo/parser",
			"dojo/query",
			"dijit/registry",
			"dijit/layout/AccordionContainer",
			"dijit/layout/BorderContainer",
			"dijit/layout/ContentPane",
			"dojo/domReady!"
		], function(doh, dom, parser, query, registry, ContentPane){

			doh.register("parse", function(){
				return parser.parse();
			});

			doh.register("tests._BidiSupport.layout.Accordion.Bidi", [
				{
					name: "Accordion Bidi",
					runTest: function(){
						query("span.dijitAccordionText").forEach(function(node, index, arr){
							if(registry.getEnclosingWidget(node).textDir !== 'auto') {
								doh.is(node.dir, registry.getEnclosingWidget(node).textDir, "tab button direction should coincide with widget's 'textDir'");
							}
						});
					}
				}
			]);

			doh.register("log", function(){
				dom.byId('failures').innerHTML = doh._failureCount;
				dom.byId('errors').innerHTML = doh._errorCount;
			});

			doh.run();
		});
	</script>

</head>
<body class="claro" style="padding: 50px;">

	<h1 class="testTitle">Bidi Accordion Container Test</h1>

	<div id="markupAccordion" data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props='textDir:"rtl", style:"width: 300px; height: 200px; overflow: hidden"'>
		<div id="Pane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:true,textDir:"ltr",
			title:"Explicit LTR!", iconClass:"dijitEditorIcon dijitEditorIconSave", tooltip:"Explicit LTR!" '>
				<p>Explicit LTR text direction of content pane</p>
		</div>

		<div id="borderContainerPane" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='title:"Inherited RTL!", tooltip:"Inherited RTL!",iconClass:"dijitEditorIcon dijitEditorIconPaste"'>
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"left", style:"width:50%", splitter:true'>
			Inherited RTL title text direction of accordion button.
			</div>
		</div>

		<div id="embeddedLayoutPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props='textDir:"auto", title:"אExplicit AUTO!", tooltip:"אExplicit AUTO!",iconClass:"dijitEditorIcon dijitEditorIconCut"'>
			<p>Explicit 'auto' text direction of content pane</p>
		</div>
	</div>
	<br>Errors:&nbsp;<span id="errors">?</span>
	<br>Failures:&nbsp;<span id="failures">?</span>
</body>
</html>
