<div id="settings" class="view mblView main">
	<div data-dojo-type="dojox/mobile/FixedSplitter" data-dojo-props='orientation:"V"'>
		<div data-dojo-type="dojox/mobile/Container" style="overflow:hidden;">
			<div id="heading1Id"></div>
		</div>
		
	<div data-dojo-type="dojox/mobile/FixedSplitter" data-dojo-props='orientation:"H"'>
		<div data-dojo-type="dojox/mobile/Container" style="overflow:hidden;  border-right: 1px solid black;">
			<div id="nav1Id"></div>
		</div>

		<div data-dojo-type="dojox/mobile/Container" class="mainCenter" style="overflow:hidden;">
			<div id="swap1" data-dojo-type="dojox/mobile/SwapView">
				<div data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props='height:"100%"'>
					<div id="swapView1Id"></div>
				</div>
			</div>

			<div id="swap2" data-dojo-type="dojox/mobile/SwapView">
				<div data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props='height:"100%"'>
					<div id="swapView2Id"></div>
				</div>
			</div>

			<div id="swap3" data-dojo-type="dojox/mobile/SwapView">
					<div id="swapView3Id"></div>
			</div>

			<div data-dojo-type="dojox/mobile/PageIndicator" data-dojo-props='fixed:"bottom"'></div>
		</div>
	</div>
	</div>
</div>
