<div class="navPane">
	<!-- left -->
	<div data-dojo-type="dojox/app/widgets/Container" id="NavWidId" class="navPane left" data-app-constraint="left">
		<div>
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true" data-dojo-attach-event="onClick:nextClicked">
					Next View
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true" data-dojo-attach-event="onClick:previousClicked">
					Previous View
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true" data-dojo-attach-event="onClick:swap1Clicked">
					SwapView 1
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true" data-dojo-attach-event="onClick:swap2Clicked">
					SwapView 2
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true" data-dojo-attach-event="onClick:swap3Clicked">
					SwapView 3
				</li>
			</ul>
		</div>
	</div>
</div>
