#####################################################
#
# List of approvers for OpenTelemetry Proto repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/community/blob/main/community-members.md 
*   @open-telemetry/spec-sponsors

# Profiles owners (global + profiles)
opentelemetry/proto/profiles  @open-telemetry/spec-sponsors @open-telemetry/profiling-maintainers @open-telemetry/profiling-approvers
opentelemetry/proto/collector/profiles  @open-telemetry/spec-sponsors @open-telemetry/profiling-maintainers @open-telemetry/profiling-approvers
