@import 'dijit_variables';

.{$theme-name} {

	.dijitCalendarRtl .dijitCalendarDecrease {
		&:before {
			content: $calendar-icon-increase;
		}
	}

	.dijitCalendarRtl .dijitCalendarIncrease {
		&:before {
			content: $calendar-icon-decrease;
		}
	}
	
}