@import 'dijit_variables';

.{$theme-name} {
	
	.dijitDialogRtl .dijitDialogCloseIcon {
		right: auto;
		left: $dialog-padding * 1.5;
	}

	.dijitDialogRtl,
	.dijitTooltipDialogRtl {
		.dijitDialogPaneActionBar {
			text-align: left;
		}
	}

}