@import 'dijit_variables';


.{$theme-name} {

	.dijitMenuBarRtl {
		text-align: right;
	}

	.dijitMenuItemRtl {
		text-align: right;
		
		.dijitMenuExpand {
			&:before {
				content: $menu-item-icon-rtl;
			}
		}
	}
	
}