/* TitlePane */

@import 'dijit_variables';

.{$theme-name} {

	.dijitTitlePaneRtl {
		.dijitTitlePaneTitle {
			text-align: right;
		}
		.dijitClosed {
			.dijitArrowNode:before {
				content: $icon-expand;
			}
		}
	}

}