.flat .dijitToolbar .dijitToggleButtonRtl,
.flat .dijitToolbar .dijitButtonRtl,
.flat .dijitToolbar .dijitDropDownButtonRtl,
.flat .dijitToolbar .dijitComboButtonRtl {
  margin-left: 4px;
  margin-right: auto;
}
.flat .dijitToolbar .dijitDropDownButtonRtl .dijitArrowButtonInner {
  margin-left: auto;
  margin-right: 4px;
}
