@import 'dijit_variables';

.{$theme-name} {

	.dijitToolbar {
		.dijitToggleButtonRtl, 
		.dijitButtonRtl, 
		.dijitDropDownButtonRtl,
		.dijitComboButtonRtl {
			margin-left: $toolbar-button-spacing;
			margin-right: auto;
		}

		.dijitDropDownButtonRtl .dijitArrowButtonInner {
			margin-left: auto;
			margin-right: $padding;
		}
	}

}