@import 'dijit_variables';

.{$theme-name} {
	
	.dijitTreeRtl  {
		text-align: right;
			
		.dijitTreeContainer {
			float: right;	
		}
		.dijitTreeExpandoClosed:before {
			content: "\e60b";
		}
	}

}