!include ../my.cnf

[mysqld.1.1]
server-id= 1
log-bin

[mysqld.2.1]
server-id= 1
log-bin

[mysqld.1.slave]
server-id= 2
log-bin
skip-slave-start

[mysqld.2.slave]
server-id= 2
master-host=		127.0.0.1
master-port=		@mysqld.2.1.port
master-password=	@mysqld.2.1.#password
master-user=		@mysqld.2.1.#user
master-connect-retry=	1
init-rpl-role=		slave
log-bin
skip-slave-start
ndb_connectstring=	@mysql_cluster.slave.ndb_connectstring

[ENV]

SLAVE_MYPORT1=		@mysqld.2.slave.port
SLAVE_MYSOCK1=		@mysqld.2.slave.socket
