
# Default values that applies to all MySQL Servers
[mysqld]
local-infile
character-set-server=      latin1

# Increase default connect_timeout to avoid intermittent
# disconnects when test servers are put under load see BUG#28359
connect-timeout=            60

log-bin-trust-function-creators=1
key_buffer_size=            1M
sort_buffer_size=           256K
max_heap_table_size=        1M

loose-innodb_data_file_path=      ibdata1:10M:autoextend
loose-innodb_buffer_pool_size=    8M
loose-innodb_lru_scan_depth=      100
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
loose-innodb_log_buffer_size=     1M
loose-innodb_log_file_size=       5M
loose-innodb_log_files_in_group=  2

slave-net-timeout=120

log-bin=mysqld-bin

# No performance schema sizing provided

# Disable everything, we only need the sizing data,
# and also need a stable output for show engine performance_schema status
loose-performance-schema-consumer-global-instrumentation=OFF

loose-performance-schema-instrument='%=ON'

loose-performance-schema-consumer-events-stages-current=ON
loose-performance-schema-consumer-events-stages-history=ON
loose-performance-schema-consumer-events-stages-history-long=ON
loose-performance-schema-consumer-events-statements-current=ON
loose-performance-schema-consumer-events-statements-history=ON
loose-performance-schema-consumer-events-statements-history-long=ON
loose-performance-schema-consumer-events-transactions-current=ON
loose-performance-schema-consumer-events-transactions-history=ON
loose-performance-schema-consumer-events-transactions-history-long=ON
loose-performance-schema-consumer-events-waits-current=ON
loose-performance-schema-consumer-events-waits-history=ON
loose-performance-schema-consumer-events-waits-history-long=ON
loose-performance-schema-consumer-thread-instrumentation=ON

binlog-direct-non-transactional-updates
loose-show-compatibility-56=ON

