# Copyright (c) 2007 MySQL AB
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

# Use default setting for mysqld processes
!include default_mysqld.cnf

[mysqld.1]

# Run the master.sh script before starting this process
#!run-master-sh

log-bin=                 master-bin


[mysqlbinlog]
disable-force-if-open

# mysql_fix_privilege_tables.sh does not read from [client] so it
# need its own section
[mysql_fix_privilege_tables]
socket=                  @client.socket
port=                    @client.port
user=                    @client.user
password=                @client.password

[ENV]
MASTER_MYPORT=           @mysqld.1.port
MASTER_MYSOCK=           @mysqld.1.socket
