
[cluster_config]
MaxNoOfSavedMessages=          1000
MaxNoOfConcurrentTransactions= 2048
MaxNoOfConcurrentOperations=   10000
MaxNoOfConcurrentScans=        64
BatchSizePerLocalScan=         64
DataMemory=                    20M
IndexMemory=                   8M
Diskless=                      0
TimeBetweenWatchDogCheck=      30000
MaxNoOfOrderedIndexes=         128
MaxNoOfAttributes=             2048
TimeBetweenGlobalCheckpoints=  3000
TimeBetweenEpochs=             100
NoOfFragmentLogFiles=          4
FragmentLogFileSize=           12M
DiskPageBufferMemory=          4M
SharedGlobalMemory=            20M
LongMessageBuffer=             4M
RedoBuffer=                    4M
BackupDataBufferSize=          2M
BackupLogBufferSize=           2M
BackupMemory=                  4M
TwoPassInitialNodeRestartCopy=1
TransactionDeadlockDetectionTimeout=3000
Checksum=1

# O_DIRECT has issues on 2.4 which have not been handled, Bug #29612
#ODirect= 1
CompressedLCP= 1
CompressedBackup= 1
# the following parametes just function as a small regression
# test that the parameter exists
InitialNoOfOpenFiles= 27

# Increase timeouts for slow test-machines
HeartbeatIntervalDbDb=         30000
HeartbeatIntervalDbApi=        30000

#TransactionDeadlockDetectionTimeout= 7500
DiskIOThreadPool=1

#######
# Configure a typical MT configuration in order to test
# several instances of the MT'ed components.
#
# (Option is ignored for non-MT'ed NDB)
#
ThreadConfig=main={count=1},tc={count=3},ldm={count=4},io={count=1},rep={count=1},recv={count=2},send={count=2}


[ENV]
# Use the multithreaded scheduler whenever available
MTR_NDBMTD= 1
