# Copyright (c) 2007, 2008 MySQL AB
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

# Default values that applies to all MySQL Servers
[mysqld]
open-files-limit=           1024
local-infile
default-character-set=      latin1

# Increase default connect_timeout to avoid intermittent
# disconnects when test servers are put under load see BUG#28359
connect-timeout=            60

log-bin-trust-function-creators=1
key_buffer_size=            1M
sort_buffer=                256K
max_heap_table_size=        1M

loose-innodb_data_file_path=      ibdata1:10M:autoextend

slave-net-timeout=120

log-bin=mysqld-bin

