# Use default setting for mysqld processes
!include default_mysqld.cnf
!include default_client.cnf

[mysqld.1]

# Run the master.sh script before starting this process
#!run-master-sh

# Run tests with the performance schema instrumentation
loose-enable-performance-schema

[mysqlbinlog]
disable-force-if-open

[ENV]
MASTER_MYPORT=           @mysqld.1.port
MASTER_ADMINPORT=        @mysqld.1.admin-port
MASTER_MYSOCK=           @mysqld.1.socket
MASTER_X_MYPORT=         @mysqld.1.loose-mysqlx-port
MASTER_X_MYSOCK=         @mysqld.1.loose-mysqlx-socket
