<div>
	<!-- center -->
	<div>

		<div>
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Test Information',target:'header+navigation+TestInfo',url:'#header+navigation+TestInfo'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Simple Data Binding',target:'header+navigation+simple',url:'#header+navigation+simple'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Simple List Test',target:'header+navigation+listMain',url:'#header+navigation+listMain'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Simple Date Test',target:'header+navigation+date',url:'#header+navigation+date'"></li>
			</ul>
		</div>
	</div>
</div>
