<div>
	<!-- top -->
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Media Query Layout App", fixed:"top"'>
		<span class="mblToolBarButton mblToolBarButtonHasLeftArrow hideOnTablet showOnPhone" tabindex="0" id="headerBackButton" 
			widgetid="headerBackButton">
			<span class="mblToolBarButtonArrow mblToolBarButtonLeftArrow mblColorDefault mblColorDefault45"></span>
			<span class="mblToolBarButtonBody mblColorDefault"><table cellpadding="0" cellspacing="0" border="0" class="mblToolBarButtonText">
				<tbody><tr>
					<td class="mblToolBarButtonIcon"></td>
					<td class="mblToolBarButtonLabel">Back</td>
				</tr></tbody></table>
			</span>
		</span>
	  		<span data-dojo-type="dojox/mobile/ToolBarButton" id="listInsert1" class="hide"
       		 data-dojo-props='icon:"mblDomButtonWhitePlus"'
        		style="float:right;" onclick="console.log('+ was clicked')">
        	</span>
	</h1>
	
</div>
