!include suite/ndb_rpl/my.cnf

[mysqld]
# Turn on dependency tracking for ndb_binlog thread
ndb-log-transaction-dependency=ON
# Use WRITESET dependency tracking (which is the only mode where ndb_binlog
# thread will be able to find independent transactions)
binlog-transaction-dependency-tracking=WRITESET

# Use several workers (current default)
replica-parallel-workers=4
# Use LOGICAL_CLOCK as parallel_type (current default and setting deprecated)
replica-parallel-type=LOGICAL_CLOCK
