!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.cluster1]
NoOfReplicas=                  1
ndbd=
ndb_mgmd=
mysqld=,
ndbapi=,,

[cluster_config.cluster2]
NoOfReplicas=                  1
ndbd=
ndb_mgmd=
mysqld=,
ndbapi=,,

[mysqld]
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
replica-allow-batching
ndb-log-orig
ndb-log-bin=1
replica-parallel-workers=1

[mysqld.1.cluster1]
server_id=            1
log-bin=              mysql-A-bin

[mysqld.2.cluster1]
server_id=            2
log-bin=              0

[mysqld.1.cluster2]
server_id=            3
log-bin=              mysql-C-bin
relay-log=            mysql-C-relay-bin
log-replica-updates=  0

[mysqld.2.cluster2]
server_id=            4
log-bin=              mysql-D-bin
relay-log=            mysql-D-relay-bin
log-replica-updates=  1

[ENV]
MYSQL_A_PORT       =  @mysqld.1.cluster1.port
MYSQL_B_PORT       =  @mysqld.2.cluster1.port
MYSQL_C_PORT       =  @mysqld.1.cluster2.port
MYSQL_D_PORT       =  @mysqld.2.cluster2.port

SERVER_MYPORT_1    =  @mysqld.1.cluster1.port
SERVER_MYPORT_2    =  @mysqld.2.cluster1.port
SERVER_MYPORT_3    =  @mysqld.1.cluster2.port
SERVER_MYPORT_4    =  @mysqld.2.cluster2.port


