!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.cluster1]
NoOfReplicas=                  1
ndbd=
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,

[cluster_config.cluster2]
NoOfReplicas=                  1
ndbd=
ndb_mgmd=
mysqld=
ndbapi=,,,,

[cluster_config.cluster3]
NoOfReplicas=                  1
ndbd=
ndb_mgmd=
mysqld=
ndbapi=,,,,

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=20
ndb-wait-setup=60
ndb-cluster-connection-pool=3
replica-allow-batching
ndb-log-orig
# Turn on bin logging
log-bin=                       cluster1-bin
ndb-log-bin=1
# for performance reasons
ndb-table-temporary=1
ndb-extra-logging=99
binlog-format=row
replica-parallel-workers=1
# Use smaller than default cache size to save resources
ndb-log-cache-size=32768

[cluster_config.mysqld.1.cluster1]
NodeId=49
Dedicated=1

[cluster_config.ndbapi.1.cluster1]
NodeId=16
Dedicated=1

[cluster_config.ndbapi.2.cluster1]
NodeId=32
Dedicated=1

[cluster_config.mysqld.1.cluster2]
NodeId=49
Dedicated=1

[cluster_config.ndbapi.1.cluster2]
NodeId=16
Dedicated=1

[cluster_config.ndbapi.2.cluster2]
NodeId=32
Dedicated=1

[cluster_config.mysqld.1.cluster3]
NodeId=49
Dedicated=1

[cluster_config.ndbapi.1.cluster3]
NodeId=16
Dedicated=1

[cluster_config.ndbapi.2.cluster3]
NodeId=32
Dedicated=1

[mysqld.1.cluster1]
ndb-cluster-connection-pool-nodeids=49,16,32
server_id= 1

[mysqld.1.cluster2]
ndb-cluster-connection-pool-nodeids=49,16,32
server_id= 2
log-bin=                      cluster2-bin
relay-log=                    cluster2-relay-bin

log-replica-updates
ndb-log-apply-status

# Directory where slaves find the dumps generated by "load data"
# on the server. The path need to have constant length otherwise
# test results will vary, thus a relative path is used.
replica-load-tmpdir=            ../../../tmp

[mysqld.1.cluster3]
ndb-cluster-connection-pool-nodeids=49,16,32
server_id= 3
log-bin=                      cluster3-bin
relay-log=                    cluster3-relay-bin

log-replica-updates
ndb-log-apply-status

# Directory where slaves find the dumps generated by "load data"
# on the server. The path need to have constant length otherwise
# test results will vary, thus a relative path is used.
replica-load-tmpdir=            ../../../tmp

[ENV]
SERVER_MYPORT_1=              @mysqld.1.cluster1.port
SERVER_MYPORT_2=              @mysqld.1.cluster2.port
SERVER_MYPORT_3=              @mysqld.1.cluster3.port
