!include suite/ndb/my.cnf

[memcached.1]
options = debug=true
max_connections = 100
# Connected to first mysql cluster
ndb_connectstring = @mysql_cluster.1.ndb_connectstring

[ENV]
NDB_MEMCACHED_1_PORT = @memcached.1.port
