# Copyright (C) 2016 and later: Unicode, Inc. and others.
# License & terms of use: http://www.unicode.org/copyright.html
Makefile
*.o
*.d
bin/
*.1
*.8
*.ao
*.dylib
lib/
bin64/
lib64/
bin32uwp/
lib32uwp/
bin64uwp/
lib64uwp/
commondata/

icudefs.mk
pkgdata.inc
common/svchook.mk
config.log
config.status
config/Makefile.inc
config/icu-config
config/icu*.pc
config/icucross.inc
config/icucross.mk
config/pkgdata.inc
config/pkgdataMakefile
data/build-dir
data/build-local
data/icupkg.inc
data/out/
data/data/
data/packagedata
data/pkgdataMakefile
extra/uconv/pkgdata.inc
extra/uconv/pkgdataMakefile
extra/uconv/uconvmsg/
samples/cal/icucal
samples/date/icudate
stubdata/libicudata.so*
test/testdata/pkgdataMakefile
tools/ctestfw/libicutest.so*
tools/gentest/gentest
tools/icuinfo/icuinfo
*.lib
*.dll
*.exp
/source/common/svchook.mk
/source/config/Makefile.inc
/source/config/icu-config
/source/config/icu-i18n.pc
/source/config/icu-io.pc
/source/config/icu-uc.pc
/source/config/icu.pc
/source/config/icucross.inc
/source/config/icucross.mk
/source/config/pkgdataMakefile
/source/data/build-dir
/source/data/build-local
/source/data/icupkg.inc
/source/data/out/
/source/data/packagedata
/source/data/pkgdataMakefile
/source/extra/uconv/pkgdataMakefile
/source/extra/uconv/uconvmsg/
/source/samples/cal/icucal
/source/samples/date/icudate
/source/test/cintltst/cintltst
/source/test/intltest/intltest
/source/test/iotest/iotest
/source/test/testdata/out/
/source/test/testdata/pkgdataMakefile
/source/tools/gentest/gentest
/source/tools/icuinfo/icuinfo

*.ncb
*.opt
*.suo
*.sdf
*.opensdf
ipch
.vs
Debug
*.db
*.opendb

