
!include include/default_mysqld_autosize.cnf

[mysqld.1]

# Default values used in the server, out of the box
# open_files_limit can be scaled down based on the os configuration (ulimit -n),
# so to get a stable test output, make sure ulimit -n is big enough
#
# What is supposed to happen here by default:
# table_open_cache = 2000
# table_definition_cache = 400 + 2000/2 = 1400
# max_connections = 151

# Automated sizing for everything

loose-performance-schema-accounts-size=-1
loose-performance-schema-digests-size=-1
loose-performance-schema-hosts-size=-1
loose-performance-schema-users-size=-1

loose-performance-schema-events-waits-history-size=-1
loose-performance-schema-events-waits-history-long-size=-1
loose-performance-schema-events-stages-history-size=-1
loose-performance-schema-events-stages-history-long-size=-1
loose-performance-schema-events-statements-history-size=-1
loose-performance-schema-events-statements-history-long-size=-1

loose-performance-schema-max-mutex-instances=-1
loose-performance-schema-max-rwlock-instances=-1
loose-performance-schema-max-cond-instances=-1
loose-performance-schema-max-file-instances=-1
loose-performance-schema-max-socket-instances=-1
loose-performance-schema-max-thread-instances=-1
loose-performance-schema-max-table-instances=-1
loose-performance-schema-max-table-handles=-1

