<div class="view mblView">
	<div data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"List Example"'>
  		<span data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="listInsert1"
       		 data-dojo-props='icon:"mblDomButtonWhitePlus"'
        		style="float:right;" onclick="console.log('+ was clicked')"></span>
	</div>    
	<form name="listTestForm">
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Using a dojox/mobile/EdgeToEdgeStoreList</h2>
		<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-attach-point="list" data-dojo-props='append:true'></ul>
	</form>
			<ul data-dojo-type="dojox/mobile/RoundRectList">
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'-listMain',target:'-listMain',url:'#-listMain'}">
					Remove listMain view
				</li>					
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'-listMain,list',target:'-listMain,list',url:'#-listMain,list'}">
					Remove listMain,list views
				</li>					
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'-navigation',target:'-navigation',url:'#-navigation'}">
					Remove navigation view
				</li>					
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'navigation',target:'navigation',url:'#navigation'}">
					Add navigation view
				</li>					
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'listMain,list-navigation',target:'listMain,list-navigation',url:'#listMain,list-navigation'}">
					Remove navigation view. leave listMain,list
				</li>					
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'listMain,list+navigation',target:'listMain,list+navigation',url:'#listMain,list+navigation'}">
					Add navigation view to listMain,list
				</li>					
			</ul>

</div>
