<div class="navPane">
	<!-- left -->
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Layout App"' data-app-constraint="top"></h1>
	<div data-dojo-type="dojox/app/widgets/Container"  class="navPane" data-app-constraint="left" data-dojo-props="scrollable:true">

<!--	 <div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable:true"> --> 
		<div>
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Simple Form Data',target:'simple',url:'#simple'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'List Data Test',target:'listMain,list',url:'#listMain,list'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Nav + List Data Test',target:'navigation+listMain,list',transition:'flip',url:'#navigation+listMain,list'"></li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,label:'Date Test',target:'date',transition:'flip',url:'#date'"></li>
			</ul>
		</div>
	</div>
</div>
