build
*~
nbproject
.idea
doxygen_docs
*/*.out
cmake-build-debug
venv
**.DS_Store
.vscode
# No top-level requirements, see doc/source
requirements.txt
examples/bazel/bazel-bazel
examples/bazel/bazel-bin
examples/bazel/bazel-out
examples/bazel/bazel-testlogs
