name: macos

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        cc: [clang]

    steps:
    - uses: actions/checkout@v1

    - name: Dependencies
      run: |
        brew install libcbor llvm mandoc pkg-config

    - name: Build
      env:
        CC: ${{ matrix.cc }}
      run: |
        /bin/sh -eux .actions/build-osx-clang
