
.claro .dijitTextBox, .claro .dijitInputInner {
  color: #000000;
}
.claro .dijitTextBoxError .dijitValidationContainer {
  background-color: #d46464;
  background-image: url(../../../../../dijit/themes/claro/form/images/error.png);
  background-position: top center;
  border: solid #d46464 0;
  border-left-width: 1px;
  width: 9px;
}
.claro .dijitTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent !important;
  
}
.claro .dijitTextArea, .claro .dijitInputField .dijitPlaceHolder {
  padding: 2px;
}
.claro .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}
.dj_gecko .claro .dijitTextBox .dijitInputInner, .dj_webkit .claro .dijitTextBox .dijitInputInner {
  padding: 1px;
}
.claro .dijitTextBox, .claro .dijitTextBox .dijitButtonNode {
  
  border-color: #b5bcc7;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.claro .dijitTextBox {
  background-color: #ffffff;
}
.claro .dijitTextBoxHover, .claro .dijitTextBoxHover .dijitButtonNode {
  border-color: #759dc0;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.claro .dijitTextBoxHover {
  background-color: #e5f2fe;
  background-image: url(../../../../../dijit/themes/claro/form/images/textBox_back.png);
  background-repeat: repeat-x;
}
.claro .dijitTextBoxError, .claro .dijitTextBoxError .dijitButtonNode {
  border-color: #d46464;
}
.claro .dijitTextBoxError, .claro .dijitTextBoxError .dijitInputContainer {
  background-color: #ffffff;
}
.claro .dijitTextBoxFocused, .claro .dijitTextBoxFocused .dijitButtonNode {
  border-color: #759dc0;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.claro .dijitTextBoxFocused {
  background-color: #ffffff;
  background-image: url(../../../../../dijit/themes/claro/form/images/textBox_back.png);
  background-repeat: repeat-x;
}
.claro .dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
.claro .dijitTextBoxErrorFocused, .claro .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #ce5050;
}
.claro .dijitTextBoxDisabled, .claro .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #d3d3d3;
}
.claro .dijitTextBoxDisabled, .claro .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #efefef;
  background-image: none;
}
.claro .dijitTextBoxDisabled, .claro .dijitTextBoxDisabled .dijitInputInner {
  color: #818181;
}
.dj_webkit .claro .dijitTextBoxDisabled input {
  
  color: #757575;
}
.dj_webkit .claro textarea.dijitTextAreaDisabled {
  
  color: #1b1b1b;
}
.claro .dijitComboBox .dijitArrowButtonInner {
  background-image: url(../../../../../dijit/themes/claro/form/images/commonFormArrows.png);
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
  border: 1px solid #ffffff;
}
.claro .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.claro .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.claro .dijitTextBox .dijitInputInner, .claro .dijitTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.claro .dijitComboBox .dijitButtonNode {
  background-color: #efefef;
  background-image: url(../../../../../dijit/themes/claro/form/images/formHighlight.png);
  background-repeat: repeat-x;
}
.claro .dijitComboBoxOpenOnClickHover .dijitButtonNode, .claro .dijitComboBox .dijitDownArrowButtonHover {
  background-color: #abd6ff;
}
.claro .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner, .claro .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}
.claro .dijitComboBox .dijitHasDropDownOpen {
  background-color: #7dbdfa;
  background-position: 0 -177px;
  padding: 1px;
}
.claro .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
.claro div.dijitComboBoxDisabled .dijitArrowButtonInner {
  
  background-position: 0 50%;
  background-color: #efefef;
}
.dj_ff3 .claro .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
.dj_ie6 .claro .dijitTextBox, .dj_ie6 .claro .dijitComboBox .dijitButtonNode {
  background-image: none;
}
.dj_borderbox .claro .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .claro .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
.claro .dijitButtonNode {
  
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  
  border: 1px solid #759dc0;
  padding: 2px 4px 4px 4px;
  background-image: url(../../../../../dijit/themes/claro/form/images/button.png);
  background-position: center top;
  background-repeat: repeat-x;
  background-color: #e5f2fe;
  color: #000000;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.claro .dijitComboButton .dijitArrowButton {
  border-left-width: 0;
  padding: 4px 2px 4px 2px;
  
}
.claro .dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-image: url(../../../../../dijit/themes/claro/form/images/buttonArrows.png);
  background-repeat: no-repeat;
  background-position: -51px 53%;
}
.claro .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}
.claro .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}
.claro .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
.claro .dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}
.claro .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}
.claro .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}
.claro .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}
.claro .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}
.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover,
.claro .dijitToggleButtonHover .dijitButtonNode {
  background-color: #abd6ff;
  color: #000000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dijitButtonActive .dijitButtonNode,
.claro .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitComboButtonActive .dijitButtonNode,
.claro .dijitToggleButtonActive .dijitButtonNode,
.claro .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
  background-color: #abd6ff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.claro .dijitButtonDisabled,
.claro .dijitDropDownButtonDisabled,
.claro .dijitComboButtonDisabled,
.claro .dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}
.claro .dijitButtonDisabled .dijitButtonNode,
.claro .dijitDropDownButtonDisabled .dijitButtonNode,
.claro .dijitComboButtonDisabled .dijitButtonNode,
.claro .dijitToggleButtonDisabled .dijitButtonNode {
  background-position: 0 -149px;
  background-color: #efefef;
  border: solid 1px #d3d3d3;
  color: #818181;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.claro .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
.claro table.dijitComboButton {
  border-collapse: separate;
  
}
.dj_ie6 .claro .dijitButtonNode {
  background-image: none;
}
.claro .dijitComboButton .dijitStretch {
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.claro .dijitComboButton .dijitArrowButton {
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.claro .dijitCalendar {
  border: solid 1px #b5bcc7;
  background-color: #cfe5fa;
  background-image: url(../../../../../dijit/themes/claro/images/calendarContainerImages.png);
  background-position: 0 -448px;
  background-repeat: repeat-x;
  text-align: center;
  padding: 6px 5px 3px 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-collapse: separate;
}
.dj_ie6 .claro .dijitCalendar {
  background-image: none;
}
.claro .dijitCalendar img {
  border: none;
}
.claro .dijitCalendarHover, .claro .dijitCalendar:hover, .claro .dijitCalendarActive {
  
  background-color: #abd6ff;
  border: solid 1px #759dc0;
}
.claro .dijitCalendarMonthContainer th {
  text-align: center;
  padding-bottom: 4px;
  vertical-align: middle;
}
.claro .dijitCalendarMonthLabel {
  color: #000000;
  font-size: 1.091em;
  padding: 0 4px;
}
.claro .dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  background-image: url(../../../../../dijit/themes/claro/images/calendarArrows.png);
  background-repeat: no-repeat;
}
.dj_ie6 .claro .dijitCalendarIncrementControl {
  background-image: url(../../../../../dijit/themes/claro/images/calendarArrows8bit.png);
}
.claro .dijitCalendarIncrease {
  background-position: -18px 0;
}
.claro .dijitCalendarArrowHover .dijitCalendarDecrease, .claro .dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}
.claro .dijitCalendarArrowHover .dijitCalendarIncrease, .claro .dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}
.claro .dijitCalendarArrowActive .dijitCalendarDecrease, .claro .dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}
.claro .dijitCalendarArrowActive .dijitCalendarIncrease, .claro .dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}
.claro .dijitA11ySideArrow {
  
  display: none;
}
.claro .dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #b5bcc7;
  padding: 0 3px 2px;
}
.claro .dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: #000000;
}
.claro .dijitCalendarDateTemplate {
  text-align: center;
  background-color: #ffffff;
  background-image: url(../../../../../dijit/themes/claro/images/calendarContainerImages.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 0;
  font-size: 0.909em;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: .05em;
  text-align: center;
  color: #000000;
}
.dj_ie6 .claro .dijitCalendarDateTemplate {
  background-image: none;
}
.claro .dijitCalendarPreviousMonth, .claro .dijitCalendarNextMonth {
  background-color: #e5f2fe;
  background-image: none;
  border-bottom: solid 1px #d3d3d3;
  
}
.claro .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 3px 5px 3px 4px;
  border: solid 1px #ffffff;
  
  background-color: rgba(171, 212, 251, 0);
  
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.claro .dijitCalendarPreviousMonth .dijitCalendarDateLabel, .claro .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #759dc0;
  border-color: #e5f2fe;
  
}
.claro .dijitCalendarYearContainer {
  vertical-align: middle;
}
.claro .dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}
.claro .dijitCalendarYearLabel {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 1.17em;
}
.claro .dijitCalendarYearLabel span {
  
  vertical-align: middle;
}
.claro .dijitCalendarSelectedYear {
  padding: 0 3px;
}
.claro .dijitCalendarNextYear, .claro .dijitCalendarPreviousYear {
  padding: 1px 6px 1px 6px;
  font-size: 0.909em;
}
.claro .dijitCalendarSelectedYear {
  font-size: 1.091em;
  color: #000000;
}
.claro .dijitCalendarHoveredDate .dijitCalendarDateLabel, .claro .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #abd6ff;
  border: solid 1px #759dc0;
  color: #000000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dijitCalendarNextYearHover,
.claro .dijitCalendarNextYear:hover,
.claro .dijitCalendarPreviousYearHover,
.claro .dijitCalendarPreviousYear:hover {
  color: #000000;
  border: solid 1px #ffffff;
  padding: 0 5px 0 5px;
  
  background-color: #e5f2fe;
}
.claro .dijitCalendarNextYearActive, .claro .dijitCalendarNextYear:active.claro .dijitCalendarPreviousYearActive, .claro .dijitCalendarPreviousYear:active {
  border: solid 1px #759dc0;
  padding: 0 5px 0 5px;
  
  background-color: #7dbdfa;
}
.claro .dijitCalendarActiveDate .dijitCalendarDateLabel, .claro .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-image: url(../../../../../dijit/themes/claro/images/calendarContainerImages.png);
  background-position: 0 -300px;
  background-color: #7dbdfa;
  border: solid 1px #ffffff;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.dj_ie6 .claro .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}
.claro .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #000000;
  background-color: #abd6ff;
  border-color: #759dc0;
}
.claro .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: #818181;
  text-decoration: line-through;
}
.claro .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.claro .dijitCalendar .dijitButtonText {
  padding: 1px 0 3px;
  margin-right: -4px;
}
.claro .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  background-color: transparent;
  background-image: none;
  padding: 0 3px 0 2px;
  border: solid 1px #b5bcc7;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.claro .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode, .claro .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background-color: #e5f2fe;
  border: solid 1px #ffffff;
}
.claro .dijitCalendarMonthMenu {
  border-color: #759dc0;
  background-color: #ffffff;
  text-align: center;
  background-image: none;
}
.claro .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  border-top: solid 1px #ffffff;
  
  border-bottom: solid 1px #ffffff;
  padding: 2px 0;
}
.claro .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover, .claro .dijitCalendarMonthMenu .dijitCalendarMonthLabel:hover {
  background-color: #abd6ff;
  border-color: #759dc0;
  border-width: 1px 0;
  background-image: url(../../../../../dijit/themes/claro/images/commonHighlight.png);
  background-repeat: repeat-x;
}
.dijitCalendar {
	border: solid 1px #B5BCC7;
	background-color: #CFE5FA;
	width: 320px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.dijitCalendar thead {
	vertical-align: middle;
	border-color: inherit;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#CCCCD1));
}
.dijitCalendarMonthLabel {
	color: #545454;
	font-size: 22px;
	padding: 0 4px;
	font-family: Helvetica;
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
}
.dijitCalendar .dijitDropDownButton .dijitButtonNode {
	background-color: transparent;
	background-image: none;
	padding: 0 3px 0 2px;
	border: none;
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.dijitArrowButtonInner {
	display: none;
}
.dijitCalendarDayLabelTemplate {
	text-align: center;
	font-size: 9px;
	color: #545454;
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
}
.dijitCalendarHoveredDate .dijitCalendarDateLabel {
	background-color: #ABD6FF;
	border: solid 1px #769DC0;
	color: black;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.dijitCalendarDateTemplate {
	text-align: center;
	background-color: #DDDDE0;
	border-bottom: 1px solid lightGrey;
	padding-top: 0;
	color: #4A5B6E;
	text-shadow: rgba(231,231,233,1.0) 0px 1px 0px;
	font-size: 22px;
	font-weight: normal;
	font-family: Helvetica;
	text-align: center;
}
.dijitCalendarDateTemplate .dijitCalendarDateLabel {
	text-decoration: none;
	display: block;
	padding: 3px 5px 3px 4px;
	border-top: solid 1px #ECEEEF; 
	border-bottom: solid 1px #A6AAB3; 
	border-left: solid 1px #A0A4AD; 
	border-right: solid 1px #ECECED; 
	background-color: rgba(171, 212, 251, 0);
	-webkit-transition-property: background-color, border;
	-moz-transition-property: background-color, border;
	transition-property: background-color, border;
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel, 
.dijitCalendarNextMonth .dijitCalendarDateLabel {
	color: #9099A4;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
	background-color: #1A80E5;
	border-top: solid 1px #1037B3; 
	border-bottom: solid 1px #1037B3; 
	border-left: solid 1px #1037B3; 
	border-right: solid 1px #1037B3; 
	color: white;
	text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel {
	background-color: #1A80E5;
	border: solid 1px white;
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.dijitCalendarYearLabel {
	padding: 2px 0 0 0;
	margin: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#CCCCD1));
}
.dijitCalendarSelectedYear {
	font-size: 1.091em;
	color: #545454;
	font-family: Helvetica;
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
}
.dijitCalendarNextYear, 
.dijitCalendarPreviousYear {
	padding: 1px 6px 1px 6px;
	color: #545454;
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
	font-size: 0.909em;
}