<div class="view mblView">
	<h1 id="heading1" data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Scrollable List One"' data-app-constraint="top">
		<span id="sc1back1" data-dojo-type="dojox/mobile/ToolBarButton" arrow="left" 
		data-dojo-props="target: 'configuration,ScrollableListSelection', url: '#configuration,ScrollableListSelection', transitionDir: -1">Back</span>
		<span data-dojo-type="dojox/mobile/ToolBarButton" id="sc1insert10x" data-dojo-props='icon:"mblDomButtonWhitePlus"' style="float:right;">5</span>
	</h1>     
</div>