<div class="view mblView">
<!--
	<div data-app-constraint="top">
	</div>
-->
	<div data-dojo-type="dojox/app/widgets/Container" data-dojo-props="scrollable: true, fixedFooter:'footer1'"  data-app-constraint="center">

		<div class="field-title">Should scroll from under the top header to the end of the page, this text will also scroll.</div>

		<form name="repeatTestForm3">
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin" id="list3" data-dojo-props='append:true'></ul>
		<!--		<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" id="list3" data-dojo-props='append:true'></ul> -->
		</form>
	</div>
</div>
