
.claro .dojoxCalendarColumnView .dojoxCalendarEvent.Unstored .bg {
  filter: alpha(opacity=70);
  opacity: 0.4;  
}

.claro .dojoxCalendarColumnView .dojoxCalendarEvent.Storing .bg {  
  filter: alpha(opacity=70);
  opacity: 0.7;
  animation:animKeyframes 1s infinite;
  -moz-animation:animKeyframes 1s infinite; /* Firefox */
  -webkit-animation:animKeyframes 1s infinite; /* Safari and Chrome */	
  -o-animation: animKeyframes 1s infinite; /* Opera */	
}

@keyframes animKeyframes
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}

@-moz-keyframes animKeyframes /* Firefox */
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}

@-webkit-keyframes animKeyframes /* Safari and Chrome */
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}
@-o-keyframes myfirst /* Opera */
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}