
/**
  How to disable certain test cases: 

  If this file is called disabled-tests.dist, 
    then copy it to disabled-tests.conf

  Then edit the disabled tests lists below,
  in disabled-tests.conf, to include the 
  filenames of tests to skip.  For example:

  module.exports.disabledTests = {
    "integraltypes/QueryTableScanTest.js" : true
  };

**/

 
module.exports.disabledTests = {
  /* skipped tests go here: */
  
};
