# Config file for ndb_binlog_default_format testcase
# A copy of ../my.cnf with the binlog-format config
# commented out

!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
NoOfReplicas=                  2
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
# Set error log verbosity to max, otherwise info messages
# are filtered away
log-error-verbosity=3

# Will be "auto upgraded" to MIXED
binlog-format=STATEMENT

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port
