# Config file for ndb_binlog_default_format testcase
# A copy of ../my.cnf with the binlog-format config
# commented out

!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
NoOfReplicas=                  2
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
ndb-log-bin=1

# Will be "auto upgraded" to MIXED
binlog-format=STATEMENT

[cluster_config.mysqld.1.1]
NodeId=49
Dedicated=1

[cluster_config.mysqld.2.1]
NodeId=16
Dedicated=1

[cluster_config.ndbapi.1.1]
NodeId=32
Dedicated=1

[cluster_config.ndbapi.2.1]
NodeId=48
Dedicated=1

[cluster_config.ndbapi.3.1]
NodeId=63
Dedicated=1

[cluster_config.ndbapi.4.1]
NodeId=127
Dedicated=1

[mysqld.1.1]
ndb-cluster-connection-pool-nodeids=49,32,63

[mysqld.2.1]
ndb-cluster-connection-pool-nodeids=16,48,127

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port
