/* Copyright (c) 2023, Oracle and/or its affiliates.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License, version 2.0,
as published by the Free Software Foundation.

This program is also distributed with certain software (including
but not limited to OpenSSL) that is licensed under separate terms,
as designated in a particular file or component or in included license
documentation.  The authors of MySQL hereby grant you an additional
permission to link the program and your derivative works with the
separately licensed software that they have included with MySQL.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License, version 2.0, for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA */

#include "test_harness_component.h"
#include "mysql/components/component_implementation.h"
#include "mysql/components/service_implementation.h"

/** ================ FILLME: Service mock includes go here ================ */
//#include "components/libminchassis/gunit_harness/include/mock/mysql_simple_error_log_stderr.cc"
/** =============================================================== */

#define STRINGIFY(x) #x

/** ================ Component declaration related stuff ================ */

BEGIN_COMPONENT_PROVIDES(HARNESS_COMPONENT_NAME)
/** ================ FILLME: Service mock refs go here ================ */
//    PROVIDES_SERVICE(HARNESS_COMPONENT_NAME, mysql_simple_error_log),
/** =============================================================== */
    END_COMPONENT_PROVIDES();

/** List of dependencies */
BEGIN_COMPONENT_REQUIRES(HARNESS_COMPONENT_NAME)
END_COMPONENT_REQUIRES();

/** Component description */
BEGIN_COMPONENT_METADATA(HARNESS_COMPONENT_NAME)
    METADATA("mysql.version", "1"),
    END_COMPONENT_METADATA();

/** Component declaration */
DECLARE_COMPONENT(HARNESS_COMPONENT_NAME, STRINGIFY(HARNESS_COMPONENT_NAME))
nullptr, nullptr END_DECLARE_COMPONENT();
