#!/bin/bash

# Copyright (c) 2014, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] && [ -z "$2" ];
then

	set -e

	PKG_LIST=mysql-server-5.5:mysql-server-5.6:mysql-community-server:mysql-enterprise-server
	INSTALLED_PKG=none
	MYSQLDATA=/var/lib/mysql

	IFS_BACKUP=${IFS}
	IFS=":"
	for PKG in ${PKG_LIST};
	do
		STATUS=$(dpkg -s ${PKG} 2> /dev/null | grep Status: | cut -d' ' -f4)
		if [ "${STATUS}" = "installed" ];
		then
			INSTALLED_PKG=${PKG}
			break
		fi
	done
	IFS=${IFS_BACKUP}

	if [ "${INSTALLED_PKG}" = "none" ];
	then
		if [ -d ${MYSQLDATA} -o -L ${MYSQLDATA} ];
		then
			db_input high mysql-community-server/data-dir || true
		else
			db_fset mysql-community-server/data-dir seen true
		fi

		while :; do
			PASSWD=""
			db_input high mysql-community-server/root-pass || true
			db_go

			db_get mysql-community-server/root-pass
			if [ -z "${RET}" ];
			then
				db_fset mysql-community-server/root-pass seen true
				db_fset mysql-community-server/re-root-pass seen true
				break
			fi
			PASSWD="${RET}"

			db_input high mysql-community-server/re-root-pass || true
			db_go

			db_get mysql-community-server/re-root-pass
			if [ "${RET}" == "${PASSWD}" ];
			then
				PASSWD=""
				break
			fi

			db_fset mysql-community-server/root-pass-mismatch seen false
			db_input critical mysql-community-server/root-pass-mismatch
			db_set mysql-community-server/root-pass ""
			db_set mysql-community-server/re-root-pass ""
		done

		db_input high mysql-community-server/remove-test-db || true
		db_go

	else
		db_fset mysql-community-server/data-dir seen true
		db_fset mysql-community-server/root-pass seen true
		db_fset mysql-community-server/re-root-pass seen true
		db_fset mysql-community-server/remove-test-db seen true
	fi

	set +e
fi
