!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

#
# mysqld.1.1 :  one ndb connection,  binlog off
# mysqld.2.1 :  two ndb connections, binlog off
# mysqld.3.1 :  one ndb connection,  binlog ON
# mysqld.4.1 :  two ndb connections, binlog ON
#

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,,,
ndbapi=,,,,,,,,,,,
DefaultOperationRedoProblemAction=queue

[cluster_config.mysqld.1.1]
NodeId=14
Dedicated=1

[cluster_config.mysqld.2.1]
NodeId=16
Dedicated=1

[cluster_config.mysqld.3.1]
NodeId=18
Dedicated=1

[cluster_config.mysqld.4.1]
NodeId=20
Dedicated=1

[cluster_config.ndbapi.1.1]
NodeId=17
Dedicated=1

[cluster_config.ndbapi.2.1]
NodeId=21
Dedicated=1

[mysqld]
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-extra-logging=99

[mysqld.1.1]
ndb-cluster-connection-pool=1
ndb-cluster-connection-pool-nodeids=14
skip-log-bin

[mysqld.2.1]
ndb-cluster-connection-pool=2
ndb-cluster-connection-pool-nodeids=16,17
skip-log-bin

[mysqld.3.1]
ndb-cluster-connection-pool=1
ndb-cluster-connection-pool-nodeids=18
log-bin=master.bin
ndb-log-bin=1

[mysqld.4.1]
ndb-cluster-connection-pool=2
ndb-cluster-connection-pool-nodeids=20,21
log-bin=master.bin
ndb-log-bin=1

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYSOCK=                 @mysqld.1.1.socket
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port
MASTER_MYSOCK1=                @mysqld.2.1.socket
MASTER_MYPORT2=                @mysqld.3.1.port
MASTER_MYSOCK2=                @mysqld.3.1.socket
MASTER_MYPORT3=                @mysqld.4.1.port
MASTER_MYSOCK3=                @mysqld.4.1.socket

