!include suite/ndb/my.cnf

[cluster_config.1]
DataMemory=30M

############
## MaxNoOfLocalOperations (Default 11000) is shared among 
## all LDMs. This would be fine when the distribution isn't 
## skewed, but this test is testing a single fragment -
## which breaks the 'non skewed' assumption.
## In order to prepare for MT-ndbd with multiple LDM's,
## the default value is not sufficient.
##
MaxNoOfLocalOperations = 40000
ThreadConfig=main,rep,recv,ldm={count=1}
