!include ../my.cnf

[cluster_config.1]
ndbd=,,,,,,,,
NoOfReplicas=3

[cluster_config.ndb_mgmd.1.1]
NodeId=3

[cluster_config.ndbd.1.1]
NodeId=1

[cluster_config.ndbd.2.1]
NodeId=2

[cluster_config.ndbd.3.1]
NodeId=4

[cluster_config.ndbd.4.1]
NodeId=5
Nodegroup=65536

[cluster_config.ndbd.5.1]
NodeId=7

[cluster_config.ndbd.6.1]
NodeId=17

[cluster_config.ndbd.7.1]
NodeId=19
Nodegroup=65536

[cluster_config.ndbd.8.1]
NodeId=23
Nodegroup=65536

[cluster_config.ndbd.9.1]
NodeId=31

[cluster_config.ndbapi.7.1]
NodeId=229
HostName=localhost

[cluster_config.ndbapi.8.1]
NodeId=230
HostName=localhost

[cluster_config.ndbapi.9.1]
NodeId=231
HostName=localhost

[cluster_config.ndbapi.10.1]
NodeId=232
HostName=localhost

[cluster_config.ndbapi.11.1]
NodeId=233
HostName=localhost

