!include ../my.cnf

[cluster_config.1]
mysqld=,,,

[mysqld]
ndb-cluster-connection-pool=1

# Test performs DDL with heavy background activity, need to wait longer
# for MDL locks during schema distribution
ndb-schema-dist-lock-wait-timeout=1200

[mysqld.1.1]
log-bin=mysqld-bin
ndb-cluster-connection-pool-nodeids=49

[mysqld.2.1]
log-bin=mysqld-bin
ndb-cluster-connection-pool-nodeids=16

[mysqld.3.1]
skip-log-bin
skip-log-replica-updates
ndb-cluster-connection-pool-nodeids=32

[mysqld.4.1]
skip-log-bin
skip-log-replica-updates
ndb-cluster-connection-pool-nodeids=48

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MYSQLD1_PORT=                  @mysqld.1.1.port
MYSQLD2_PORT=                  @mysqld.2.1.port
MYSQLD3_PORT=                  @mysqld.3.1.port
MYSQLD4_PORT=                  @mysqld.4.1.port
