!include ../my.cnf

[cluster_config.1]
NoOfReplicas=                  2
ndbd=,,,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=20
ndb-wait-setup=60
ndb-cluster-connection-pool=3
ndb-extra-logging=99
# Set error log verbosity to max, otherwise info messages
# are filtered away
log-error-verbosity=3
log-bin=mysql-binlog
# Enable load data local functionality
local-infile=true

[cluster_config.ndbd.1.1]
MaxNoOfExecutionThreads=8
# 1 + 2 + 4
__debug_mixology_level=7

[cluster_config.ndbd.2.1]
MaxNoOfExecutionThreads=8
# 1 + 2 + 4
__debug_mixology_level=7

[cluster_config.ndbd.3.1]
Nodegroup=65536

[cluster_config.ndbd.4.1]
Nodegroup=65536

[mysqld.1.1]
log-bin
log-slave-updates

[mysqld.2.1]
log-bin
log-slave-updates

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir
unique=$unique
BLOB=$BLOB



