!include ../my.cnf
[mysqld]
ndb-read-backup=0
[cluster_config.1]
ndbd=,,,,,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,

# Test has a special error insert to check if reads are TC local.
# Index stat system table reads aren't causing the test to fail
IndexStatAutoCreate=0
IndexStatAutoUpdate=0

[cluster_config.ndbd.3.1]
Nodegroup=65536

[cluster_config.ndbd.4.1]
Nodegroup=65536

[cluster_config.ndbd.5.1]
Nodegroup=65536

[cluster_config.ndbd.6.1]
Nodegroup=65536

[ENV]
unique=$unique
BLOB=$BLOB
