!include ../my.cnf

[cluster_config.1]
ndbd=,
# As few and as small fragment log files as possible to consume less resources.
NoOfFragmentLogFiles=3
FragmentLogFileSize=4M

[cluster_config.ndbd.1.1]
InitFragmentLogFiles=full

[cluster_config.ndbd.2.1]
InitFragmentLogFiles=sparse
