!include ../my.cnf

[cluster_config.1]
ndbd=,,,
#MaxDMLOperationsPerTransaction=4294967039
#MaxDMLOperationsPerTransaction=4294967039
MaxDMLOperationsPerTransaction=32
MaxNoOfLocalOperations=1024

[cluster_config.ndbd.1.1]
NodeId=1
MaxNoOfConcurrentOperations=32
ReservedConcurrentOperations=32
MaxNoOfConcurrentTransactions=32
ReservedConcurrentTransactions=32

[cluster_config.ndbd.2.1]
NodeId=2
MaxNoOfConcurrentOperations=1024
ReservedConcurrentOperations=1024
MaxNoOfConcurrentTransactions=32
ReservedConcurrentTransactions=32
#MaxDMLOperationsPerTransaction=1024
MaxDMLOperationsPerTransaction=92

[cluster_config.ndbd.3.1]
NodeId=3
MaxNoOfConcurrentOperations=32
ReservedConcurrentOperations=32
MaxNoOfConcurrentTransactions=32
ReservedConcurrentTransactions=32

[cluster_config.ndbd.4.1]
NodeId=4
MaxNoOfConcurrentOperations=32
ReservedConcurrentOperations=32
MaxNoOfConcurrentTransactions=32
ReservedConcurrentTransactions=32

[mysqld]
ndb-data-node-neighbour=2
