!include suite/ndb/my.cnf

[mysqld]
# Turn off auto sync so it doesn't interfere with the test
ndb_metadata_check = false

[cluster_config]
MaxNoOfOrderedIndexes = 2000
MaxNoOfAttributes = 22500
# Uncomment the below parameter when upgrading 1000 tables
# DataMemory = 500M
