!include suite/ndb/my.cnf

[cluster_config]
# Bigger (imaginary) Redo space
Diskless=1
NoOfFragmentLogFiles = 64
FragmentLogFileSize = 48M

# Artificially small SendBuffer (to hit error)
SendBuffer = 512K
# Larger LongMessageBuffer (to avoid hitting this)
LongMessageBuffer = 16M

[mysqld]
# Allow dealing with bigger blobs
max-allowed-packet=104857600
