!include include/default_mysqld.cnf

[cluster_config]
MaxNoOfSavedMessages=          1000
DataMemory=                    700M
Diskless=                      0
TimeBetweenWatchDogCheck=      30000
MaxNoOfOrderedIndexes=         128
MaxNoOfAttributes=             2048
TimeBetweenGlobalCheckpoints=  3000
TimeBetweenEpochs=             100
NoOfFragmentLogFiles=          4
FragmentLogFileSize=           12M
DiskPageBufferMemory=          4M
SharedGlobalMemory=            20M
LongMessageBuffer=             4M
RedoBuffer=                    4M
BackupDataBufferSize=          2M
BackupLogBufferSize=           2M
BackupMemory=                  4M
TwoPassInitialNodeRestartCopy=1
TransactionDeadlockDetectionTimeout=3000
Checksum=1
CompressedLCP= 1
CompressedBackup= 1
InitialNoOfOpenFiles= 27
HeartbeatIntervalDbDb=         30000
HeartbeatIntervalDbApi=        30000
DiskIOThreadPool=1

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,
DefaultOperationRedoProblemAction=queue

# NdbAPI nodes intended for use by MySQL server(s).
# Node id must explicitly be requested either by --ndb-nodeid or
# --ndb-cluster-connection-pool-nodeids.

[cluster_config.mysqld.1.1]
NodeId=49
Dedicated=1

[cluster_config.mysqld.2.1]
NodeId=16
Dedicated=1

[cluster_config.ndbapi.1.1]
NodeId=32
Dedicated=1

[cluster_config.ndbapi.2.1]
NodeId=48
Dedicated=1

[cluster_config.ndbapi.3.1]
NodeId=63
Dedicated=1

[cluster_config.ndbapi.4.1]
NodeId=127
Dedicated=1

# NdbAPI nodes free for use by any NdbAPI connection.

[cluster_config.ndbapi.5.1]
NodeId=192

[cluster_config.ndbapi.6.1]
NodeId=228

[cluster_config.ndbapi.12.1]
NodeId=255

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
ndb-join-pushdown=1
# Enable load data local functionality
local-infile=true

[mysqld.1.1]
# Specify which nodeids the connection pool on first mysqld should use
ndb-cluster-connection-pool-nodeids=49,63,127
# This suite(--suite=ndb) is designed to be run without binogging,
# turn off binlogging(and thus also slave updates) for this mysqld
skip-log-bin
skip-log-replica-updates

[mysqld.2.1]
# Specify which nodeids the connection pool on second mysqld should use
ndb-cluster-connection-pool-nodeids=16,32,48
# This suite(--suite=ndb) is designed to be run without binogging,
# turn off binlogging(and thus also slave updates) for this mysqld
skip-log-bin
skip-log-replica-updates

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYSOCK=                 @mysqld.1.1.socket
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port
MASTER_MYSOCK=                 @mysqld.1.1.socket

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir
MTR_NDBMTD= 1

