!include suite/ndb/my.cnf

[cluster_config]
#######
# Default number of partitions depends on number of
# LDM threads. So we have to override LDM-count
# for this test in order to get a predictable number
# of partitions when no partition-spec is part of
# the create table stmt.
#
ThreadConfig=ldm={count=1}
TimeBetweenGlobalCheckpoints=200

[ENV]
# Test will pass some table names that includes $ to command line interpreter.
# $ is expanded in bourne shell, but not expanded in Windows command line.
# The environment variable below makes sure that xxx$BLOB is passed as xxx$BLOB
# in either case.
unique=$unique
BLOB=$BLOB
