#
# config to use for running testMgmd(which start
# ndb_mgmd server on its own)
#
!include include/default_my.cnf

# There is only a single mysqld in this configuration
# make it support ndbcluster
[mysqld]
ndbcluster

# Don't wait for connect to cluster since none will be started
ndb-wait-connected=0
ndb-wait-setup=0

[ENV]
# The started ndb_mgmd's will be started from base + 1
NDBT_BASE_PORT= @mysqld.1.port
NDBAPITEST_MAXLINES=512
