!include include/default_my.cnf

[source src1]
type = xmlpipe2
xmlpipe_command = cat @ENV.MTR_SUITE_DIR/testdata.xml

[index test1]
source = src1
docinfo = extern
charset_type = utf-8
path = @ENV.MYSQLTEST_VARDIR/searchd/test1

[indexer]
mem_limit = 32M

[searchd]
read_timeout = 5
max_children = 30
seamless_rotate = 1
preopen_indexes = 0
unlink_old = 1
log = @ENV.MYSQLTEST_VARDIR/searchd/sphinx-searchd.log
query_log = @ENV.MYSQLTEST_VARDIR/searchd/sphinx-query.log
#log-error = @ENV.MYSQLTEST_VARDIR/searchd/sphinx.log
pid_file = @ENV.MYSQLTEST_VARDIR/run/searchd.pid
listen = @ENV.SPHINXSEARCH_PORT

[ENV]
SPHINXSEARCH_PORT = @OPT.port
