<div class="view mblView">
	<h1 id="heading2" data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Long List Two"' data-app-constraint="top">
		<span id="sc2back1" data-dojo-type="dojox/mobile/ToolBarButton" arrow="left" 
		data-dojo-props="target: 'configuration,Nav1', url: '#configuration,Nav1', transitionDir: -1">Back</span>
		<span data-dojo-type="dojox/mobile/ToolBarButton" id="sc2insert10x" data-dojo-props='icon:"mblDomButtonWhitePlus"' style="float:right;">5</span>
	</h1>     
	<div data-app-constraint="top">
		<div class="field-title">V2 - Should scroll between this text and the bottom footer.</div>
	</div>     

	<div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable: true">

		<div class="field-title">Should scroll from under the top header to the end of the page, this text will also scroll.</div>

		<form name="repeatTestForm3">
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin" id="list2" data-dojo-props='append:true'></ul> 
		<!--		<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" id="list3" data-dojo-props='append:true'></ul> -->
				
		</form>
	</div>
</div>
