alabaster==0.7.12
argh==0.26.2
Babel==2.8.0
breathe==4.14.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
docutils==0.16
Flask==1.1.1
idna==2.9
imagesize==1.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
livereload==2.6.1
MarkupSafe==1.1.1
packaging==20.3
pathtools==0.1.2
port-for==0.3.1
Pygments==2.6.1
pyparsing==2.4.6
pytz==2019.3
PyYAML==5.3
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==2.4.4
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tornado==6.0.4
urllib3==1.25.8
watchdog==0.10.2
Werkzeug==0.15.5
