<div class="view mblView">
	<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" class="showOnPhone hideOnTablet" style="height: 32px;" data-app-constraint="top">List Item Details</h2>
    <h1 class="showOnTablet hideOnPhone"  dojoType="dojox/mobile/Heading" data-dojo-props='back:"Back"'>List Item Details</h1>
    <form name="listTestForm" id="listTestForm">    
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Updates to First or Last Name will be reflected in the list</h2>
					<table id="table" cellspacing="10"  style="width: 100%">
						<tr>
							<td style="width: 100px;" class="layout">First Name</td>
							<td class="layout">							
								<input  id="firstInput" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="First"
									data-dojo-props="placeholder:'First Name'">
							</td>
						</tr>
						<tr>
							<td style="width: 100px;" class="layout">Last Name</td>
							<td class="layout">
								<input id="lastInput" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="Last"
									 
									data-dojo-props="placeholder:'Last Name'">
							</td>
						</tr>
						<tr>
							<td style="width: 100px;" class="layout">Email</td>
							<td class="layout">
								<input  id="emailInput2" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="Email"
									data-dojo-props="placeholder:'Email'">
							</td>
						</tr>
						<tr>
							<td style="width: 100px;" class="layout">Telephone</td>
							<td class="layout">
								<input  id="telInput" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="Tel"
									data-dojo-props="placeholder:'Telephone'">
							</td>
						</tr>
					</table>
		</form>
</div>
