@import url("../common/domButtons/DomButtonGrayArrow-compat.css");

@import url("../common/domButtons/DomButtonDarkBlueCheck-compat.css");
/* dojox.mobile.ListItem */
.mblListItemSelected {
  background-color: Highlight;
}
.dj_gecko .mblListItemSelected {
  background-image: none;
}
.dj_ie6 .mblListItem {
  vertical-align: bottom;
}
