{ "Version" : 1 , "mysql_server" : { "partial_revokes" : { "Value" : "ON" , "Metadata" : { "Timestamp" : 1633937653903038 , "User" : "root" , "Host" : "localhost" } } , "auto_increment_increment" : { "Value" : "20" , "Metadata" : { "Timestamp" : 1633937622251067 , "User" : "root" , "Host" : "localhost" } } , "net_buffer_length" : { "Value" : "32768" , "Metadata" : { "Timestamp" : 1633937642310289 , "User" : "root" , "Host" : "localhost" } } , "mysql_server_static_options" : { "back_log" : { "Value" : "100" , "Metadata" : { "Timestamp" : 1633937673270420 , "User" : "root" , "Host" : "localhost" } } , "performance_schema_error_size" : { "Value" : "5000" , "Metadata" : { "Timestamp" : 1633937696450531 , "User" : "root" , "Host" : "localhost" } } } } }