!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

#
# Define small two node cluster with only one mysqld
# (this allows running tests even without global schema lock)
#
[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=
ndbapi=,,

[mysqld]
# Make all mysqlds use ndbcluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-extra-logging=99

[cluster_config.mysqld.1.1]
NodeId=49
Dedicated=1

[mysqld.1.1]
ndb-nodeid=49

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring

