<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDeleteWarning</key>
	<string></string>
	<key>IFPkgDescriptionDescription</key>
	<string>This package enables MySQL to be started up automatically
	on system bootup.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>MySQL Startup Item</string>
	<key>IFPkgDescriptionVersion</key>
	<string>1.1</string>
</dict>
</plist>
