<div class="view mblView">
	
	<div>
	<div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable: true">
		<h1 data-dojo-type="dojox/mobile/Heading" data-app-constraint="top">Select Scrollable List</h1>
		
			<ul data-dojo-type="dojox/mobile/RoundRectList"  data-dojo-props='variableHeight:true'>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,V1', url: '#P1,S1,V1'">
					<div class="textBox">
						<div class="subject">P1,S1,V1</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V2', url: '#V2'">
					<div class="textBox">
						<div class="subject">V2</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,V3', url: '#P1,S1,V3'">
					<div class="textBox">
						<div class="subject">P1,S1,V3</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V4', url: '#V4'">
					<div class="textBox">
						<div class="subject">V4</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V5+P2,S2,Ss2,V6', url: '#P2,S2,Ss2,V5+P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V5+P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V5', url: '#P2,S2,Ss2,V5'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V5</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P2,S2,Ss2,V5-P2,S2,Ss2,V6', url: '#S2,Ss2,V5-P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">P2,S2,Ss2,V5-P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: '-P2,S2,Ss2,V6', url: '#-P2,S2,Ss2,V6'">
					<div class="textBox">
						<div class="subject">-P2,S2,Ss2,V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: '-P2,S2,Ss2', url: '#-P2,S2,Ss2'">
					<div class="textBox">
						<div class="subject">-P2,S2,Ss2</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1,S1,TestInfo', url: '#P1,S1,TestInfo'">
					<div class="textBox">
						<div class="subject">Test Instructions</div>
						Test instructions, notes and known problems (transition none)
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
