*.build
xcode/ndbmemcache.xcodeproj/jdd.perspectivev3
xcode/ndbmemcache.xcodeproj/jdd.mode1v3
xcode/ndbmemcache.xcodeproj/*.mode1v3
xcode/ndbmemcache.xcodeproj/*.pbxuser
.DS_Store
Makefile.in
junkbin
aclocal.m4
compile
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
config.guess
config.h.in
config.sub
Makefile
config.h
config.log
config.status
libtool
src/.deps/
src/Makefile
stamp-h1
unit/.deps/
unit/test_workqueue
unit/Makefile
unit/casbits_test
unit/ndbapi_interp_test
unit/test_interp
.libs
.deps
*.la
*.lo

