
[cluster_config]
MaxNoOfSavedMessages=          1000
MaxNoOfConcurrentTransactions= 6000
MaxNoOfConcurrentOperations=   40000
DataMemory=                    100M
IndexMemory=                   50M
Diskless=                      0
TimeBetweenWatchDogCheck=      30000
MaxNoOfOrderedIndexes=         32
MaxNoOfAttributes=             2048
RedoBuffer=                    48M
TimeBetweenGlobalCheckpoints=  3000
TimeBetweenLocalCheckpoints=   20
TimeBetweenEpochs=             100
NoOfFragmentLogFiles=          4
FragmentLogFileSize=           32M
DiskPageBufferMemory=          20M

# O_DIRECT has issues on 2.4 whach have not been handled, Bug #29612
ODirect= 1
CompressedLCP= 1
CompressedBackup= 1
# the following parametes just function as a small regression
# test that the parameter exists
InitialNoOfOpenFiles= 27

# Increase timeouts for slow test-machines
HeartbeatIntervalDbDb=         30000
HeartbeatIntervalDbApi=        30000

#TransactionDeadlockDetectionTimeout= 7500
DiskIOThreadPool=1
