!include ../my.cnf

[mysqld.1]

[mysqld.2]

[mysqld.3]
skip-log-bin

[mysqld.4]
disable-log-bin
disable-log-slave-updates

[ENV]
SERVER_MYPORT_3=                @mysqld.3.port
SERVER_MYSOCK_3=                @mysqld.3.socket

[ENV]
SERVER_MYPORT_4=                @mysqld.4.port
SERVER_MYSOCK_4=                @mysqld.4.socket
