[mysqld]
connect-timeout=60
log-bin-trust-function-creators=1
log-bin=mysqld-bin
innodb-buffer-pool-size=24M
innodb-redo-log-capacity=10M
loose-enable-performance-schema
loose-performance-schema-accounts-size=100
loose-performance-schema-digests-size=200
loose-performance-schema-hosts-size=100
loose-performance-schema-users-size=100
loose-performance-schema-setup-actors-size=100
loose-performance-schema-setup-objects-size=100
loose-performance-schema-events-waits-history-size=10
loose-performance-schema-events-waits-history-long-size=10000
loose-performance-schema-events-stages-history-size=10
loose-performance-schema-events-stages-history-long-size=1000
loose-performance-schema-events-statements-history-size=10
loose-performance-schema-events-statements-history-long-size=1000
loose-performance-schema-events-transactions-history-size=10
loose-performance-schema-events-transactions-history-long-size=1000
loose-performance-schema-session-connect-attrs-size=2048
loose-performance-schema-instrument='%=ON'
loose-performance-schema-consumer-events-stages-current=ON
loose-performance-schema-consumer-events-stages-history=ON
loose-performance-schema-consumer-events-stages-history-long=ON
loose-performance-schema-consumer-events-statements-current=ON
loose-performance-schema-consumer-events-statements-history=ON
loose-performance-schema-consumer-events-statements-history-long=ON
loose-performance-schema-consumer-events-transactions-current=ON
loose-performance-schema-consumer-events-transactions-history=ON
loose-performance-schema-consumer-events-transactions-history-long=ON
loose-performance-schema-consumer-events-waits-current=ON
loose-performance-schema-consumer-events-waits-history=ON
loose-performance-schema-consumer-events-waits-history-long=ON
loose-performance-schema-consumer-global-instrumentation=ON
loose-performance-schema-consumer-thread-instrumentation=ON

loose-test-component-str-sys-var="hello"
loose-test-component-int-sys-var=1234567

[mysql]
default-character-set=utf8mb4

[mysqlshow]
default-character-set=utf8mb4

[mysqlimport]
default-character-set=utf8mb4

[mysqlcheck]
default-character-set=utf8mb4

[mysql_upgrade]
default-character-set=utf8mb4

[mysqltest]
default-character-set=utf8mb4
ssl-cert=/home/horst/git-repos/trunk-9424/mysql-test/std_data/client-cert.pem
ssl-key=/home/horst/git-repos/trunk-9424/mysql-test/std_data/client-key.pem
ssl-mode=DISABLED

[mysqld.1]
#!run-master-sh
log-bin=master-bin
loose-enable-performance-schema
basedir=/home/horst/git-repos/trunk-9424
tmpdir=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqld.1
character-sets-dir=/home/horst/git-repos/trunk-9424/sql/share/charsets
lc-messages-dir=/home/horst/git-repos/trunk-9424/sql/share/
datadir=/home/horst/git-repos/trunk-9424/mysql-test/var/mysqld.1/data
pid-file=/home/horst/git-repos/trunk-9424/mysql-test/var/run/mysqld.1.pid
#host=localhost
port=13000
socket=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqld.1.sock
loose-mysqlx-port=13009
loose-mysqlx-socket=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqlx.1.sock
#log-error=/home/horst/git-repos/trunk-9424/mysql-test/var/log/mysqld.1.err
general_log=1
general_log_file=/home/horst/git-repos/trunk-9424/mysql-test/var/mysqld.1/mysqld.log
slow_query_log=1
slow_query_log_file=/home/horst/git-repos/trunk-9424/mysql-test/var/mysqld.1/mysqld-slow.log
#user=root
#password=
server-id=1
secure-file-priv=/home/horst/git-repos/trunk-9424/mysql-test/var
ssl-ca=/home/horst/git-repos/trunk-9424/mysql-test/std_data/cacert.pem
ssl-cert=/home/horst/git-repos/trunk-9424/mysql-test/std_data/server-cert.pem
ssl-key=/home/horst/git-repos/trunk-9424/mysql-test/std_data/server-key.pem
loose-sha256_password_auto_generate_rsa_keys=0

[mysqlbinlog]
disable-force-if-open
character-sets-dir=/home/horst/git-repos/trunk-9424/sql/share/charsets
local-load=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp

[ENV]
MASTER_MYPORT=13000
MASTER_MYSOCK=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqld.1.sock
MASTER_X_MYPORT=13009
MASTER_X_MYSOCK=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqlx.1.sock

[client]
socket=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqld.1.sock
host=localhost
port=13000
password=
user=root

[client.1]
user=root
password=
port=13000
host=localhost
socket=/home/horst/git-repos/trunk-9424/mysql-test/var/tmp/mysqld.1.sock

