<div class="view mblView">
	<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Simple Date Test</h2>

    <h2 dojoType="dojox/mobile/RoundRectCategory">Click to select a date</h2>
	
	<input data-dojo-attach-point="selDate1" readOnly value="" placeholder="Select a date" style="margin-left: 20px;">
	
	<div id="opener" data-dojo-attach-point="opener" data-dojo-type="dojox/mobile/Opener">
		<h1 data-dojo-type="dojox/mobile/Heading" label="Date Picker">
			<span data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="save" 
				data-dojo-props="label:'Done'" class="mblColorBlue"
				style="position:absolute;width:45px;right:0;">
			</span>
			<span data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-attach-point="cancel"
				data-dojo-props="label:'Cancel'" class="mblColorBlue" 
				style="position:absolute;width:45px;left:0;">
			</span>
		</h1>
		<div data-dojo-attach-point="datePicker2" data-dojo-type="dojox/mobile/DatePicker"></div>
	</div>
</div>
