!include include/default_my.cnf

[mysqld.1]
loose-thread-handling=   pool-of-threads
loose-thread_pool_size= 2 
loose-thread_pool_max_threads= 2 
extra-port=        @ENV.MASTER_EXTRA_PORT
extra-max-connections=1

[ENV]
MASTER_EXTRA_PORT= @OPT.port
