!include ../my.cnf

[mysqld.1]
log-slave-updates
loose-innodb

[mysqld.2]
log-slave-updates
loose-innodb

[mysqld.3]
log-slave-updates
loose-innodb

[mysqld.4]
log-slave-updates
loose-innodb

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

SERVER_MYPORT_4=		@mysqld.4.port
SERVER_MYSOCK_4=		@mysqld.4.socket
