!include ../my.cnf

[mysqld.1]
log-slave-updates

[mysqld.2]
master-info-repository=TABLE
relay-log-info-repository=TABLE
log-slave-updates

[mysqld.3]
log-slave-updates

[ENV]
SERVER_MYPORT_3=                @mysqld.3.port
SERVER_MYSOCK_3=                @mysqld.3.socket

