!include ../my.cnf

[mysqld.1]
log-slave-updates

[mysqld.2]
master-info-repository=TABLE
relay-log-info-repository=TABLE
log-slave-updates
log-bin
log-slave-updates
relay-log-purge=0
relay-log-recovery=1
sync_relay_log=10
max-relay-log-size=1073741824
relay-log-space-limit=1073741824
relay-log=relaylog-msr
relay-log-index=relaylog-msr.index
sync-master-info=10
master-info-file=master-msr.information
relay-log-info-file=relaylog-msr.information


[mysqld.3]
log-slave-updates

[mysqld.4]
log-slave-updates

[mysqld.5]
log-slave-updates

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

SERVER_MYPORT_4=		@mysqld.4.port
SERVER_MYSOCK_4=		@mysqld.4.socket

SERVER_MYPORT_5=		@mysqld.5.port
SERVER_MYSOCK_5=		@mysqld.5.socket

