!include include/default_mysqld.cnf

[mysqld.1]

[mysqld.2]
log-slave-updates
relay-log-info-repository=table

[mysqld.3]
log-slave-updates
relay-log-info-repository=table

[ENV]
SERVER_MYPORT_1= @mysqld.1.port
SERVER_MYPORT_2= @mysqld.2.port
SERVER_MYPORT_3= @mysqld.3.port
