!include ../my.cnf
[mysqld.1]
log-slave-updates
[mysqld.2]
log-slave-updates
[mysqld.3]
log-slave-updates
[mysqld.4]
log-slave-updates
[mysqld.5]
log-slave-updates
[mysqld.6]
log-slave-updates
[mysqld.7]
log-slave-updates
[mysqld.8]
log-slave-updates
[mysqld.9]
log-slave-updates
#[mysqld.10]
#log-slave-updates
#[mysqld.11]
#log-slave-updates
#[mysqld.12]
#log-slave-updates
#[mysqld.13]
#log-slave-updates
#[mysqld.14]
#log-slave-updates
#[mysqld.15]
#log-slave-updates

[ENV]
SERVER_MYPORT_3= @mysqld.3.port
SERVER_MYPORT_4= @mysqld.4.port
SERVER_MYPORT_5= @mysqld.5.port
SERVER_MYPORT_6= @mysqld.6.port
SERVER_MYPORT_7= @mysqld.7.port
SERVER_MYPORT_8= @mysqld.8.port
SERVER_MYPORT_9= @mysqld.9.port
#SERVER_MYPORT_10= @mysqld.10.port
#SERVER_MYPORT_11= @mysqld.11.port
#SERVER_MYPORT_12= @mysqld.12.port
#SERVER_MYPORT_13= @mysqld.13.port
#SERVER_MYPORT_14= @mysqld.14.port
#SERVER_MYPORT_15= @mysqld.15.port
