!include include/default_mysqld.cnf

[mysqld.1]
log-slave-updates
new=1
innodb
innodb_flush_log_at_trx_commit= 0

[mysqld.2]
log-slave-updates
new=1
innodb
innodb_flush_log_at_trx_commit= 0

[mysqld.3]
log-slave-updates
new=1
innodb
innodb_flush_log_at_trx_commit= 0

[ENV]
MASTER_MYPORT=          @mysqld.1.port
MASTER_MYSOCK=          @mysqld.1.socket

SLAVE_MYPORT=          @mysqld.2.port
SLAVE_MYSOCK=          @mysqld.2.socket

SLAVE_MYPORT1=          @mysqld.3.port
SLAVE_MYSOCK1=          @mysqld.3.socket
