!include ../my.cnf

# Set innodb-write-io-threads and innodb-read-io-threads to 2,
# instead of the default value 4, so that the aio-max-nr limit
# is not exceeded due to the increased number of concurrent mysqld
# instances when MTR runs rpl tests with parallel 4 or more.

[mysqld.3]
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
log-bin
log-slave-updates

[mysqld.4]
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
log-bin
log-slave-updates

[mysqld.5]
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
log-bin
log-slave-updates

[mysqld.6]
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
log-bin
log-slave-updates

[mysqld.7]
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
log-bin

[mysqld.8]
loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2
log-bin

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

SERVER_MYPORT_4=		@mysqld.4.port
SERVER_MYSOCK_4=		@mysqld.4.socket

SERVER_MYPORT_5=		@mysqld.5.port
SERVER_MYSOCK_5=		@mysqld.5.socket

SERVER_MYPORT_6=		@mysqld.6.port
SERVER_MYSOCK_6=		@mysqld.6.socket

SERVER_MYPORT_7=		@mysqld.7.port
SERVER_MYSOCK_7=		@mysqld.7.socket

SERVER_MYPORT_8=		@mysqld.8.port
SERVER_MYSOCK_8=		@mysqld.8.socket
