<div class="view mblView centerview">
	<div data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props="fixedHeader:'heading1', fixedFooter:'P1'">

	<div>
		<div class="field-title">V1 - Should scroll from under the top header to the end of the page, this text will also scroll.</div>

		<form name="repeatTestForm">
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin" id="list" data-dojo-props='append:true'></ul>
		</form>
	</div>
<!--
	<div data-dojo-type="dojox/app/widgets/Container" data-dojo-props="scrollable: true
	,fixedHeader:'heading1'
	" data-app-constraint="center">

		<div class="field-title">V1 - Should scroll from under the top header to the end of the page, this text will also scroll.</div>

		<form name="repeatTestForm">
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin" id="list" data-dojo-props='append:true'></ul>
		</form>
	</div>
-->
</div>
</div>
