<div class="view mblView centerview">
	<div data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props="fixedHeader:'heading1', fixedFooter:'P1'">

	<div>
		<div class="field-title">-  -  -  V3 - Should scroll from under the top header to the end of the page, this text will also scroll.</div>

		<form name="repeatTestForm">
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin" id="list3" data-dojo-props='append:true'></ul>
		</form>
	</div>
<!--
	<div data-app-constraint="top">
	</div>
	<div data-dojo-type="dojox/app/widgets/Container" data-dojo-props="scrollable: true, fixedFooter:'P1'"  data-app-constraint="center">

		<div class="field-title">-  -  -  V3 - Should scroll from under the top header to the end of the page, this text will also scroll.</div>

		<form name="repeatTestForm3">
				<ul data-dojo-type="dojox/mobile/EdgeToEdgeStoreList" data-dojo-mixins="dojox/mobile/LongListMixin" id="list3" data-dojo-props='append:true'></ul>
		</form>
-->

	</div>
</div>
