!include suite/ndb/t/large_txn_non_mt.cnf

[cluster_config.ndbd.1.1]
RequireTls=true

[cluster_config.ndbd.2.1]
RequireTls=true

[mysql_cluster]
ndb-tls-search-path=$MYSQLTEST_VARDIR/std_data/ndb-tls/active
