<div class="view mblView">

	<script type="dojo/require">at: "dojox/mvc/at"</script>

	<div data-dojo-type="dojox/mobile/ScrollableView">

		<h1 id="tst1WrapperA" style="visibility:hidden"
			data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Test Info for Scrollable tests.", fixed:"top"'>
			<span id="ti1back1" data-dojo-type="dojox/mobile/ToolBarButton" arrow="left"
				data-dojo-props="target: 'configuration,ScrollableListSelection', url: '#configuration,ScrollableListSelection', transitionDir: -1">Back</span>
		</h1>

		<div id="tst1WrapperB" style="visibility:hidden">
			<div class="field-title">Each test will indicate which area should scroll.</div>
			<div class="field-title">Use the +10 or + icons to add data to enable scrolling if necessary.</div>
			<br>
			<div class="field-title">Be sure to test orientation changes or on browser resize.</div>
			<div class="field-title">Verify that you can scroll to the top and bottom of the scrollable data.</div>
			<div class="field-title">Also refresh the page for each scrollable view, had a problem without height="auto", but ended up removing height='auto' on a mobile ScrollableView</div>
			<br><br>
			<div class="field-title">Note that the tests which use <b>dojox/app/widgets/Container with scrollable:true</b> should use use headers or footers with data-app-constraint="top" or data-app-constraint="bottom" and they should not use headers and footers with fixed:'top' and fixed:'bottom'.</div>
			<br>
			<div class="field-title">Note that the tests which use <b>dojox/mobile/ScrollableView</b> should use headers and footers with fixed:'top' and fixed:'bottom' and they should not use headers or footers with data-app-constraint="top" or data-app-constraint="bottom".</div>
			<br>
		</div>
	</div>
</div>
