[DEFAULT]

[logger]
level=DEBUG

[metadata_cache:my_cluster]
user=mysqlrouter
cluster_type=gr
router_id=1
auth_cache_refresh_interval=4
ttl=0.5
metadata_cluster=my_cluster
auth_cache_ttl=-1

[routing:rw]
destinations=metadata-cache://my_cluster/?role=PRIMARY
bind_address=0.0.0.0
routing_strategy=first-available
protocol=classic
client_ssl_mode=PREFERRED
server_ssl_mode=PREFERRED
server_ssl_verify=DISABLED

[routing:ro]
destinations=metadata-cache://my_cluster/?role=SECONDARY
bind_address=0.0.0.0
routing_strategy=round-robin
protocol=classic
client_ssl_mode=PREFERRED
server_ssl_mode=PREFERRED
server_ssl_verify=DISABLED
