# Use default setting for mysqld processes
!include include/default_mysqld.cnf

[mysqld.1]
default-storage-engine=pbxt

[ENV]
MASTER_MYSOCK=                 @mysqld.1.socket
MASTER_MYPORT=                 @mysqld.1.port
