!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
NoOfReplicas=                  2
ndbd=,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,
Checksum=1
PreSendChecksum=1

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-cluster-connection-pool=3
ndb-extra-logging=99
# Enable load data local functionality
local-infile=true

# Run this suite with binlog-format=ROW by default
binlog-format=                 row

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir

