#
# my.cnf -- MySQL Server configuration file
#
# All long options that a program supports (--help) can be also used here;
# parameter names are case-sensitive (in contrast to config.ini).

# Each node in a cluster (other than ndb_mgmd management servers) requires
# a connectstring that points to the management server's location:
# - format: [nodeid=node_id, ]host_name[:port_number][,...]
# - multiple host definitions designate several redundant management servers
# - default port value (assigned by IANA): 1186
# - default connectstring in none procvided: localhost:1186
# - enhanded connectstring format for multiple NICs (since NDB 6.3.19)

# Required settings for all SQL nodes, either on the command line or in my.cnf:
# --ndbcluster
# --ndb-connectstring
#
# Recommend settings for all SQL nodes:
# --ndb-use-exact-count=0 
# --ndb-index-stat-enable=0 
# --ndb-force-send=1 
# --engine-condition-pushdown=1 

# Options passed to all MySQL clients
[client]
#password	= your_password
#port		= 3306
#socket		= /tmp/mysql.sock

# Option to specify the connectstring for all nodes in the cluster
[mysql_cluster]
ndb-connectstring=127.0.0.1  # hostname or IP address management server

# MySQL server node options
[mysqld]
ndbcluster                   # run NDB storage engine
#ndb-connectstring=127.0.0.1  # hostname or IP address management server

# Johan Andersson:
ndb-force-send=1
ndb-use-exact-count=0
engine-condition-pushdown=1
