!include ../my.cnf
[mysqld]
mysqlx=ON

[mysqld.1]

[mysqld.2]

[mysqld.3]

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

MASTER_X_MYPORT_1=         @mysqld.1.loose-mysqlx-port
MASTER_X_MYSOCK_1=         @mysqld.1.loose-mysqlx-socket
MASTER_X_MYPORT_2=         @mysqld.2.loose-mysqlx-port
MASTER_X_MYSOCK_2=         @mysqld.2.loose-mysqlx-socket
MASTER_X_MYPORT_3=         @mysqld.3.loose-mysqlx-port
MASTER_X_MYSOCK_3=         @mysqld.3.loose-mysqlx-socket
