!include ../my.cnf

[mysqld.1]
loose-group_replication_communication_stack=MySQL
local-infile=       true
group_replication_autorejoin_tries= 0

[mysqld.2]
loose-group_replication_communication_stack=MySQL

[mysqld.3]
loose-group_replication_communication_stack=MySQL
report-port=        @mysqld.3.port

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket
