!include ../my.cnf

[mysqld.1]

[mysqld.2]

[mysqld.3]
replica-parallel-type=       database
replica-parallel-workers=    4
replica-transaction-retries= 0
replica-preserve-commit-order= 0

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket
