!include ../my.cnf

[mysqld.1]
group_replication_paxos_single_leader = 1

[mysqld.2]
group_replication_paxos_single_leader = 1

[mysqld.3]
group_replication_paxos_single_leader = 1

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket
