#
# Real world MySQL Cluster configuration suited
# to be run on a developer machine
#
# The configuration is tuned according to best
# practice with the limitation that all processes
# are run on one host with 4Gb RAM
#

!include include/default_mysqld.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=

DataMemory=920M
MaxNoOfConcurrentOperations=262144
StringMemory=25
MaxNoOfTables=12800
MaxNoOfOrderedIndexes=12800
MaxNoOfUniqueHashIndexes=12800
MaxNoOfAttributes=128000
MaxDiskWriteSpeedOwnRestart=200M
FragmentLogFileSize=256M
InitFragmentLogFiles=FULL
NoOfFragmentLogFiles=11
TimeBetweenLocalCheckpoints=20
TimeBetweenGlobalCheckpoints=2000
TimeBetweenEpochs=100
MemReportFrequency=30
LogLevelStartup=15
LogLevelShutdown=15
LogLevelCheckpoint=8
LogLevelNodeRestart=15
BackupMaxWriteSize=1M
BackupDataBufferSize=16M
BackupLogBufferSize=4M
BackupMemory=20M
ODirect=1
TimeBetweenWatchDogCheckInitial=60000
TransactionInactiveTimeout=30000
RealtimeScheduler=1
SchedulerExecutionTimer=80
SchedulerSpinTimer=40
SharedGlobalMemory=20M
DiskPageBufferMemory=64M
BatchSizePerLocalScan=512
Checksum=1

[cluster_config.TCP.1]
SendBufferMemory=2M
ReceiveBufferMemory=2M

[cluster_config.mysqld.1.1]
BatchSize=512
BatchByteSize=1024K

[mysqld]
# Make all mysqlds use cluster
ndbcluster

ndb-cluster-connection-pool=1
ndb-force-send=1
ndb-use-exact-count=0
ndb-extra-logging=1
# Set error log verbosity to max, otherwise info messages
# are filtered away
log-error-verbosity=3
ndb-autoincrement-prefetch-sz=256
ndb-wait-connected=600
ndb-wait-setup=300

# check if this avoid excessive query time...resulting in timeouts
optimizer_search_depth=10

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port

