!include include/default_mysqld.cnf
!include include/default_ndbd.cnf
!include my.cnf

[cluster_config.1]
NoOfReplicas=                  2
DataMemory=                    100M
#NoOfFragmentLogFiles=          4
NoOfFragmentLogFiles=          16
#FragmentLogFileSize=           80M
FragmentLogFileSize=           100M
#RedoBuffer=                    100M
RedoBuffer=                    200M
#TransactionDeadlockDetectionTimeout= 7500
ndbd=,,,
ndb_mgmd=
mysqld=,
ndbapi=,,,,,,,,,,,

[mysqld]
# Make all mysqlds use cluster
#ndbcluster
#ndb-wait-connected=20
#ndb-wait-setup=600
ndb-cluster-connection-pool=2
#ndb-extra-logging=99
#log-error-verbosity=3

#connect_timeout=60
#delayed_insert_timeout =1300
#interactive_timeout    =28800
#net_read_timeout       =1130
net_write_timeout      =1160
#replica_net_timeout      =1120
#Table_lock_wait_timeout=1150
#wait_timeout =  28800

[cluster_config.mysqld.2.1]
NodeId=16
Dedicated=1

[cluster_config.ndbapi.1.1]
NodeId=32
Dedicated=1

[cluster_config.ndbapi.2.1]
NodeId=48
Dedicated=1

[mysqld.1.1]
skip-ndb-nodeid
ndb-cluster-connection-pool-nodeids=49,32

[mysqld.2.1]
ndb-cluster-connection-pool-nodeids=16,48

[cluster_config.ndbd.3.1]
Nodegroup=65536

[cluster_config.ndbd.4.1]
Nodegroup=65536

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @mysqld.1.1.port
MASTER_MYPORT1=                @mysqld.2.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir

# Test will pass some table names that includes $ to command line interpreter.
# $ is expanded in bourne shell, but not expanded in Windows command line.
# The environment variable below makes sure that xxx$BLOB is passed as xxx$BLOB
# in either case.
BLOB=$BLOB
unique=$unique
