!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=120
ndb-wait-setup=240
ndb-extra-logging=99
# Set error log verbosity to max, otherwise info messages
# are filtered away
log-error-verbosity=3

# Turn off X plugin since this test is large and will
# use those ports as well
loose-mysqlx=0

