!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,,,,,
ndbapi=
DefaultOperationRedoProblemAction=queue

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-extra-logging=99
# Set error log verbosity to max, otherwise info messages
# are filtered away
log-error-verbosity=3

# Don't cache table statistics in information_schema queries
# since these tests use the information_schema to verify
# that data in DD is consistent
information_schema_stats_expiry=0

# Switch off mysqlx as default plugin
mysqlx=OFF

[cluster_config.ndbapi.1.1]
# nodeid for ndb tools
NodeId=255

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MYSQLD_PORT_1= @mysqld.1.1.port
MYSQLD_PORT_2= @mysqld.2.1.port
MYSQLD_PORT_3= @mysqld.3.1.port
MYSQLD_PORT_4= @mysqld.4.1.port
MYSQLD_PORT_5= @mysqld.5.1.port
MYSQLD_PORT_6= @mysqld.6.1.port
NUM_MYSQLDS=6

