!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,,,,,
ndbapi=
DefaultOperationRedoProblemAction=queue

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-extra-logging=99

# Don't cache table statistics in information_schema queries
# since these tests use the information_schema to verify
# that data in DD is consistent
information_schema_stats_expiry=0

[cluster_config.mysqld.1.1]
NodeId=49
Dedicated=1

[cluster_config.mysqld.2.1]
NodeId=16
Dedicated=1

[cluster_config.mysqld.3.1]
NodeId=32
Dedicated=1

[cluster_config.mysqld.4.1]
NodeId=48
Dedicated=1

[cluster_config.mysqld.5.1]
NodeId=63
Dedicated=1

[cluster_config.mysqld.6.1]
NodeId=127
Dedicated=1

[mysqld.1.1]
ndb-nodeid=49

[mysqld.2.1]
ndb-nodeid=16

[mysqld.3.1]
ndb-nodeid=32

[mysqld.4.1]
ndb-nodeid=48

[mysqld.5.1]
ndb-nodeid=63

[mysqld.6.1]
ndb-nodeid=127

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MYSQLD_PORT_1= @mysqld.1.1.port
MYSQLD_PORT_2= @mysqld.2.1.port
MYSQLD_PORT_3= @mysqld.3.1.port
MYSQLD_PORT_4= @mysqld.4.1.port
MYSQLD_PORT_5= @mysqld.5.1.port
MYSQLD_PORT_6= @mysqld.6.1.port
NUM_MYSQLDS=6
NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir

