!include include/default_mysqld.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
ndbd=,
ndb_mgmd=
mysqld=,,,,,
DefaultOperationRedoProblemAction=queue

[mysqld]
# Make all mysqlds use cluster
ndbcluster
ndb-wait-connected=30
ndb-wait-setup=120
ndb-extra-logging=99

[ENV]
NDB_CONNECTSTRING=             @mysql_cluster.1.ndb_connectstring
MYSQLD_PORT_1= @mysqld.1.1.port
MYSQLD_PORT_2= @mysqld.2.1.port
MYSQLD_PORT_3= @mysqld.3.1.port
MYSQLD_PORT_4= @mysqld.4.1.port
MYSQLD_PORT_5= @mysqld.5.1.port
MYSQLD_PORT_6= @mysqld.6.1.port
NUM_MYSQLDS=6

