<div class="view mblView">
	
	<div>
	<div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable: true">
		<h1 data-dojo-type="dojox/mobile/Heading" data-app-constraint="top">Select Scrollable List</h1>
		
			<ul data-dojo-type="dojox/mobile/RoundRectList"  data-dojo-props='variableHeight:true'>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V1+P1+S1', url: '#V1+P1+S1'">
					<div class="textBox">
						<div class="subject">V1+P1+S1</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V2', url: '#V2'">
					<div class="textBox">
						<div class="subject">V2</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V3+P1+S1', url: '#V3+P1+S1'">
					<div class="textBox">
						<div class="subject">V3+P1+S1</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V4', url: '#V4'">
					<div class="textBox">
						<div class="subject">V4</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V5+V6', url: '#V5+V6'">
					<div class="textBox">
						<div class="subject">V5+V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V5', url: '#V5'">
					<div class="textBox">
						<div class="subject">V5</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'V5-V6', url: '#S2,Ss2,V5-V6'">
					<div class="textBox">
						<div class="subject">V5-V6</div>
					</div>
				</li>
				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: '-V6', url: '#-V6'">
					<div class="textBox">
						<div class="subject">-V6</div>
					</div>
				</li>

				<li data-dojo-type="dojox/mobile/ListItem"
					data-dojo-props="clickable: true, noArrow: true, target: 'P1+S1+TestInfo', url: '#'">
					<div class="textBox">
						<div class="subject">Test Instructions</div>
						Test instructions, notes and known problems (transition none)
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
