<div   data-dojo-attach-point="testOuterDiv" class="view mblView">


<!--	<div data-dojo-type="dojox/mobile/ScrollableView"> -->
	<div> 
			<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Main", fixed:"top"'>
				<span data-dojo-type="dojox/mobile/ToolBarButton" tabindex="0" data-dojo-attach-point="testheaderBackButton" 
					data-dojo-props='label:"Nav", fixed:"top", arrow:"left"'>
				</span>
			</h1>
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-app-constraint="top">Test Info for this test.</h2>

		<div>
			<div class="field-title">This test app has 3 columns, Left (Nav), Center (Main), Right (Last) which are shown (or not shown) based upon media queries.</div>
			<br>
			<div class="field-title">The app responds to 3 screen sizes (Large over 860, Medium less than 860, and Small less than 560).</div>
			<br>
			<div class="field-title">The views can be reused for different positions, for example in the config there is a navLeft and a navCenter which both use the same controller and templates.</div>
			<br>
			<div class="field-title">For Large all 3 columns are shown (navLeft | mainCenter | lastRight).</div>
			<div class="field-title">For Medium the right column is hidden and the left and center columns are shown (navLeft | mainCenter) or (navLeft | lastCenter).</div>
			<div class="field-title">For Small only the center column is shown, the left and right columns are hidden  (navCenter) or (mainCenter) or (lastCenter).</div>
			<br>
			<div class="field-title">There is also code in the custom NavigationController which is notified of orientation changes or resize events which will handle the cases where the same logical view is about to be shown in the left and center (or the center and right).</div>
			<br>
		</div>
	</div>
</div>
