/* BorderContainer 

Splitters and gutters separate panes within a BorderContainer. Splitters can be moved up and down (horizonal splitters) or left and right (vertical splitters), while Gutters are static. A "thumb" is the slit on a Splitter that indicates it is movable. 

Styling the BorderContainer widget consists of the following: 

.dijitBorderContainer - for border and padding of the entire border container

.dijitSplitContainer-child, .dijitBorderContainer-child - for border or child panes of the border container. By default borders are put on all children of BorderContainer.  

.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer   -for border of the border containers within TabContainer or AccordionContainer widget

.dijitBorderContainer-dijitBorderContainer - for border and padding of nested BorderContainers

Splitters and gutters:  

.dijitSplitterH, .dijitGutterH - for height, background, and border of a horizontal splitter and gutter 
.dijitSplitterH .dijitSplitterThumb - for color, height/width of the thumb on a horizontal splitter
.dijitSplitterV, .dijitGutterV - - for height, background, and border of a vertical splitter and gutter 
.dijitSplitterV .dijitSplitterThumb - for color, height/width of the thumb on a vertical splitter
.dijitSplitterHHover - for background-color of a hovered horizontal splitter
.dijitSplitterHHover .dijitSplitterThumb - for background-color of a hovered thumb on a horizontal splitter
.dijitSplitterVHover  - for background-color of a hovered vertical splitter
.dijitSplitterVHover .dijitSplitterThumb - for background-color of a hovered thumb on a vertical splitter
.dijitSplitterHActive - for background-color of an active horizontal splitter
.dijitSplitterVActive - for background-color of an active horizontal splitter
*/

@import 'dijit_layout_variables';

.{$theme-name} {

	.dijitBorderContainer {
		/* matches the width of the splitters between panes */
		padding: $splitter-size;
	}

	.dijitSplitContainer-child,
	.dijitBorderContainer-child {
		border: 1px solid $bordercontainer-border-color;
	}

	.dijitBorderContainer-dijitTabContainerTop,
	.dijitBorderContainer-dijitTabContainerBottom,
	.dijitBorderContainer-dijitTabContainerLeft,
	.dijitBorderContainer-dijitTabContainerRight,
	.dijitBorderContainer-dijitAccordionContainer {
		/* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
		 * so override rule setting border on domNode
		 */
		 border: none;
	}

	.dijitBorderContainer-dijitBorderContainer {
		border: 0;
		padding: 0;
	}

	/* Splitters and gutters */

	.dijitSplitterH,
	.dijitGutterH {
		background:none;
		border:0;
		height: $splitter-size;
	}

	.dijitSplitterH .dijitSplitterThumb {
		background: $splitter-color;
		height: 1px;
		top: isEven($splitter-size) ? half($splitter-size) : half($splitter-size - 1);
		width: 19px;
	}

	.dijitSplitterV,
	.dijitGutterV {
		background:	$splitter-background-color;
		border: 0;
		width:	$splitter-size;
		margin: 0;
	}

	.dijitSplitterV .dijitSplitterThumb {
		background: $splitter-color;
		height: 19px;
		left: isEven($splitter-size) ? half($splitter-size) : half($splitter-size - 1);
		width: 1px;
		margin: 0;
	}

	/* hovered */
	.dijitSplitterHHover,
	.dijitSplitterVHover {
		font-size: 1px;
		background: $splitter-hovered-background-color;

		.dijitSplitterThumb {
			background: $splitter-hovered-color;
		}
	}

	/* active (dragged) */

	.dijitSplitterHActive,
	.dijitSplitterVActive {
		font-size: 1px;
		background: $splitter-dragged-background-color;
		.dijitSplitterThumb {
			background: $splitter-dragged-color;
		}
	}
	
}