/* ContentPane 
 *	
 * .dijitContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */
.flat .dijitContentPane {
  background-color: #fff;
  padding: 8px;
}
.flat .dijitTabContainerTop-dijitContentPane,
.flat .dijitTabContainerLeft-dijitContentPane,
.flat .dijitTabContainerBottom-dijitContentPane,
.flat .dijitTabContainerRight-dijitContentPane,
.flat .dijitAccordionContainer-dijitContentPane {
  background-color: #fff;
  padding: 8px;
  left: 0 !important;
  top: 0 !important;
}
