<div class="mblHeading mblHeadingCenterTitle">
	<span data-dojo-type="dojox/mobile/ToolBarButton"
		data-dojo-attach-point="backButton"
		data-dojo-props="arrow: 'left', back: true, transitionDir: -1">
	</span>
	<ul data-dojo-type="dojox/mobile/TabBar"
		style="float:right;"
		data-dojo-props="barType:'segmentedControl', selectOne:false">
		<li data-dojo-type="dojox/mobile/TabBarButton" 
			data-dojo-props="icon:'mblDomButtonWhiteUpArrow'"></li>
		<li data-dojo-type="dojox/mobile/TabBarButton" 
			data-dojo-props="icon:'mblDomButtonWhiteDownArrow'"></li>
	</ul>
	<span class="mblHeadingSpanTitle" style=""
		data-dojo-attach-point="labelNode">
	</span>
	<div class="mblHeadingDivTitle"
		data-dojo-attach-point="labelDivNode">
	</div>
</div>
