<div class="mblHeading mblHeadingCenterTitle">
	<span data-dojo-type="dojox/mobile/ToolBarButton" arrow="left" 
		defaultColor="mblColorBlue" selColor="mblColorPink">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton" 
		data-dojo-props="arrow:'right'">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton">MMMM</span>
	<span data-dojo-type="dojox/mobile/ToolBarButton" 
		data-dojo-props="icon:'mblDomButtonWhitePlus'"
		style="float:right;"></span>
	<span class="mblHeadingSpanTitle" style=""
		data-dojo-attach-point="labelNode">
	</span>
	<div class="mblHeadingDivTitle"
		data-dojo-attach-point="labelDivNode">
	</div>
</span>
