<div class="mblSlider mblSliderH" tabindex="0"
	aria-valuenow="${value}"
	data-dojo-attach-point="focusNode">
	<input data-dojo-attach-point="valueNode"
		type="hidden" value="${value}">
	<div data-dojo-attach-point="relativeParent"
		style="position: relative; height: 100%; width: 100%;">
		<div data-dojo-attach-point="progressBar"
			style="position: absolute; left: 0px; width: 100%;" 
			class="mblSliderProgressBar mblSliderTransition">
		</div>
		<div data-dojo-attach-point="touchBox"
			style="position: absolute;" class="mblSliderTouchBox">
		</div>
		<div data-dojo-attach-point="handle"
			style="position: absolute; left: 100%;" 
			class="mblSliderHandle mblSliderTransition">
		</div>
	</div>
</div>
