<span class="mblSwitch mblSwDefaultShape mblSwitchOn" tabindex="0">
	<div class="mblSwitchInner" data-dojo-attach-point="inner">
		<div class="mblSwitchBg mblSwitchBgLeft" data-dojo-attach-point="left"><div class="mblSwitchText mblSwitchTextLeft">ON</div></div>
		<div class="mblSwitchBg mblSwitchBgRight" style="display: none;" data-dojo-attach-point="right"><div class="mblSwitchText mblSwitchTextRight">OFF</div></div>
		<div class="mblSwitchKnob" data-dojo-attach-point="knob"></div>
		<input type="hidden" value="on" data-dojo-attach-point="input">
	</div>
</span>
