<div>
	<div data-dojo-type="dojox/mobile/Heading"
		data-dojo-props="label: 'Templated View'">
	</div>
	<ul data-dojo-type="dojox/mobile/RoundRectList">
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-1.png"'>
				Apple
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-2.png"'>
				Banana
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-3.png"'>
				Cherry
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-4.png"'>
				Grape
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-5.png"'>
				Kiwi
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-6.png"'>
				Lemon
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-7.png"'>
				Melon
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-8.png"'>
				Orange
			</li>
			<li data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props='icon:"images/i-icon-9.png"'>
				Peach
			</li>
		</ul>
</div>
