[atrt]
basedir = CHOOSE_dir
baseport = 14000
clusters = .2node

[ndb_mgmd]

[mysqld]
innodb
skip-bdb

[cluster_config.2node]
ndb_mgmd = CHOOSE_host1
ndbd = CHOOSE_host2,CHOOSE_host3
ndbapi= CHOOSE_host1,CHOOSE_host1,CHOOSE_host1

NoOfReplicas = 2
IndexMemory = 25M 
DataMemory = 100M
BackupMemory = 64M
MaxNoOfConcurrentScans = 100
MaxNoOfSavedMessages= 5
SendBufferMemory = 2M
NoOfFragmentLogFiles = 4
FragmentLogFileSize = 64M
CompressedLCP=1
CompressedBackup=1
ODirect=1
